<div class="cr_ser_cont" ng-if="client==true">
    <div class="sr_margen">
        <div class="csc_text">
            <ul>
                <li><a ng-class="{true: 'choose_campo'}[!chat.prof]" href="" ng-click="chat.see_chat()"><i class="fa fa-file-text-o"></i>Detalle de la propuesta</a></li>
                <li><a ng-class="{true: 'choose_campo'}[chat.prof]"  href="" ng-click="chat.see_profile()"><i class="fa fa-user"></i>Perfil</a></li>
            </ul>
        </div>
        <div class="csc_create">
            <a href="" ng-if="apply.connected" class="bl_btn show_fadein">Conectado</a>
        </div>
    </div>
</div>
<div class="respcontent pg_content">
<div id="block_chat" class="sr_margen">
<div class="margencont">
<div class="first_aviso show_fadein" ng-if="apply.first_view">
    <p>Esta es la respuesta de [[apply.fullname]] a tu solicitud por el servicio de [[apply.subcategory]]. Si
        despues de ver su propuesta estás de acuerdo con ella, dale click en "Conectar" para que se ponga en
        contacto contigo y pueda comenzar a brindarte el servicio.</p>

    <div class="hide_know" ng-click="chat.connect()" ng-click="chat.hide_know()">
        <p>Conectar</p>
    </div>
</div>
<div class="block_loading show_fadein">
    <div class="loader"></div>
    <p>Cargando ...</p>
</div>
<div class="block_chat_prof">
    <div class="uwp_content">
        <div class="uwp_head">
            <h1>Información</h1>

            <div class="conectado">
                <p class="morado ng-scope" data-ng-if="!apply.connected"><i class="fa fa-lock"></i>pendiente</p>

                <p class="verde show_fadein" data-ng-if="apply.connected"><i class="fa fa-unlock"></i>conectado</p>
            </div>
            <div class="tool_pend" data-ng-if="!apply.connected">
                <div class="price_bubble">
                    El creador del servicio aún no te ha contactado
                </div>
            </div>
        </div>
        <div class="uwp_body">
            <ul>
                <li>
                    <p class="l_text">Me gustaría contar con un servicio de
                        <b> [[ apply.subcategory]] </b> <span data-ng-if="apply.details">
                                    para un(a) <b>[[ apply.details['event-type'] ]]</b> con <b>[[
                            apply.details['number-people'] ]]</b>
                                    invitado(s) y una duración de <b>[[ apply.details['duration'] ]]</b> hr(s).</span>
                    </p>
                </li>
                <li>
                    <p class="f_text">Dirección:</p>

                    <p class="l_text">[[ apply.address ]]</p>
                </li>
                <li data-ng-if="!apply.date">
                    <p class="f_text">Fecha:</p>

                    <p class="l_text"><span>Tan pronto como sea posible</span></p>
                </li>
                <li data-ng-if="apply.date">
                    <p class="f_text">Fecha:</p>

                    <p class="l_text">[[ apply.date ]]</p>
                </li>
                <li data-ng-if="apply.date">
                    <p class="f_text">Hora:</p>

                    <p class="l_text">[[ apply.hour ]]</p>
                </li>
                <li ng-if="applicant==true">
                    <p class="f_text">Precio:</p>

                    <div class="l_text" id="you_price">
                        <p class="price_detail color_you"
                           ng-if="!apply.price && apply.last_propose_applicant==true && apply.proposed_price">Has
                            propuesto cobrar s/.[[
                            apply.proposed_price ]]</p>

                        <p class="price_detail color_client"
                           ng-if="!apply.price && !apply.proposed_price && !apply.client_proposed_price">
                            Recomendado por el sistema.
                        </p>

                        <p class="price_detail color_client"
                           ng-if="!apply.price && apply.client_proposed_price && apply.last_propose_applicant==false && apply.proposed_price">
                            El cliente ha propuesto pagar s/.[[ apply.client_proposed_price ]]</p>

                        <p class="price_detail color_client"
                           ng-if="!apply.price && !apply.proposed_price && apply.client_proposed_price && !apply.last_propose_applicant">
                            El cliente ha propuesto pagar s/.[[ apply.client_proposed_price ]]</p>

                        <p class="price_detail last_price" ng-if="apply.price">Precio final s/.[[ apply.price ]]</p>
                    </div>
                    <div class="price_detail" ng-if="(!apply.price && !apply.proposed_price && !apply.client_proposed_price) ||
                                 (!apply.price && apply.client_proposed_price && apply.last_propose_applicant==false && apply.proposed_price) ||
                                 (!apply.price && apply.client_proposed_price && !apply.last_propose_applicant && !apply.proposed_price)">
                        <div class="acept_prosp">
                            <i ng-click="chat.accept_propuesta()" class="fa fa-check-square"></i>
                            <p>Aceptar propuesta</p>
                        </div>
                    </div>
                    <div class="price_detail new_price" ng-if="(!apply.price && !apply.proposed_price && !apply.client_proposed_price) ||
                                 (!apply.price && apply.client_proposed_price && apply.last_propose_applicant==false && apply.proposed_price) ||
                                 (!apply.price && apply.client_proposed_price && !apply.last_propose_applicant && !apply.proposed_price)">
                        <form name="form_price">
                            <p>Envia tu propuesta:</p>

                            <p>S/.</p>
                            <input placeholder="Precio" name="price" type="number" ng-model="s_price"/>

                            <div class="send_pro" ng-click="chat.send_price(form_price)">Enviar</div>
                        </form>
                    </div>
                    <div class="pb_content">
                        <div class="price_bubble">
                            <p ng-if="!apply.price && apply.last_propose_applicant==true && apply.proposed_price">
                                Has propuesto s/.[[ apply.proposed_price ]], esperando a que el cliente acepte o de
                                una contrapropuesta.</p>

                            <p ng-if="!apply.price && !apply.proposed_price && !apply.client_proposed_price">Has
                                sido recomendado, y puedes proponer un precio.</p>

                            <p ng-if="!apply.price && apply.client_proposed_price && apply.last_propose_applicant==false && apply.proposed_price">
                                El cliente ah propuesto un nuevo precio.</p>

                            <p ng-if="!apply.price && apply.client_proposed_price && !apply.last_propose_applicant && !apply.proposed_price">
                                El cliente ha hecho una propuesta de s/.[[ apply.client_proposed_price ]].</p>

                            <p ng-if="apply.price">Precio fijado por ambas partes.</p>
                        </div>
                    </div>
                </li>
                <li ng-if="client==true">
                    <p class="f_text">Precio:</p>

                    <div class="l_text" id="you_price">
                        <p class="price_detail color_you"
                           ng-if="!apply.price && apply.last_propose_applicant==true && apply.proposed_price">El
                            aplicante a propuesto cobrar s/.[[
                            apply.proposed_price ]]</p>

                        <p class="price_detail color_client"
                           ng-if="!apply.price && !apply.proposed_price && !apply.client_proposed_price">
                            Recomendado por el sistema.
                        </p>

                        <p class="price_detail color_client"
                           ng-if="!apply.price && apply.client_proposed_price && apply.last_propose_applicant==false && apply.proposed_price">
                            Has propuesto pagar s/.[[ apply.client_proposed_price ]]</p>

                        <p class="price_detail last_price" ng-if="apply.price">Precio final s/.[[ apply.price ]]</p>
                    </div>
                    <div class="price_detail show_fadein" data-ng-show="apply.connected"
                         ng-if="(!apply.price && apply.last_propose_applicant==true && apply.proposed_price)">
                        <div class="acept_prosp">
                            <i ng-click="chat.accept_propuesta()" class="fa fa-check-square"></i>
                            <p>Aceptar propuesta</p>
                        </div>
                    </div>
                    <div class="price_detail new_price"
                         ng-if="(!apply.price && apply.last_propose_applicant==true && apply.proposed_price)">
                        <form name="form_price" data-ng-show="apply.connected">
                            <p>Envia tu propuesta:</p>

                            <p>S/.</p>
                            <input placeholder="Precio" name="price" type="number" ng-model="s_price"/>

                            <div class="send_pro" ng-click="chat.send_price(form_price)">Enviar</div>
                        </form>
                    </div>
                    <div class="pb_content show_fadein">
                        <div class="price_bubble">
                            <div data-ng-show="!apply.connected">
                                <p>Para poder enviar una contrapopuesta debes conectar con el aplicante.</p>
                            </div>
                            <div data-ng-show="apply.connected">
                                <p ng-if="!apply.price && apply.last_propose_applicant==true && apply.proposed_price">
                                    El aplicante a propuesto cobrar S/.[[ apply.proposed_price ]], puedes enviarle
                                    una
                                    nueva propuesta de precio.</p>

                                <p ng-if="!apply.price && !apply.proposed_price && !apply.client_proposed_price">
                                    Este
                                    aplicante a sido recomendado por el sistema, puedes proponer un precio.</p>

                                <p ng-if="!apply.price && apply.client_proposed_price && apply.last_propose_applicant==false && apply.proposed_price">
                                    Has propuesto pagar S/.[[ apply.client_proposed_price ]] por el servicio,
                                    esperando
                                    a que el aplicante acepte o de
                                    una contrapropuesta.</p>

                                <p ng-if="apply.price">Precio fijado por ambas partes.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="preguntar show_fadein" data-ng-show="apply.connected">
        <p>¿Deseas preguntarle o pedirle más información?</p>

        <div class="inputcont">
            <form name="message">
                <textarea id="text_message" class="single-line js-auto-size wrap_message" rows="1" autofocus
                          placeholder="Escribe tu mensaje..." name="content" ng-model="content_m"></textarea>
                <button class="sl-btn btn_see_m" ng-click="chat.send_message(message)">Enviar</button>
            </form>
        </div>
    </div>
    <div class="menjcont show_fadein" data-ng-show="messages!=''">
        <div class="list_messages" ng-repeat="item in messages">
            <div class="imagen">
                <img ng-src="[[item.photo]]" alt=""/>
            </div>
            <div class="menjinfo">
                <p class="fecha">[[item.datetime]]</p>

                <p class="contms"><span>[[item.content]]</span></p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div id="block_profile" class="sr_margen">
    <div class="profile-content">
        <ul class="credentials">
            <li class="item">
                <p>Profesional verificado</p>
                <img src="{{ STATIC_URL }}images/check.png" alt=""/>
            </li>
            <li class="separator"></li>
            <li class="item">
                <p> Trabajos completados</p>
                <img src="{{ STATIC_URL }}images/trofeo.png" alt=""/>
                <span>[[ profile.data.done_services ]]</span>
            </li>
            <li class="separator"></li>
            <li class="item">
                <p>Puntuación promedio</p>

                <div class="star_sincolor2">

                    <div width-color totalstars="[[profile.data.total_stars]]"
                         ratedservices="[[profile.data.rated_services]]"
                         class="star-color2"></div>
                </div>
            </li>
        </ul>
        <form name="photo_about" class="ph_about">
            <div class="about" id="ab_propuesta">
                <div class="foto">
                    <div class="pho_content">
                        <div class="phc_cont">
                            <img data-ng-src="[[profile.data.photo]]" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="data">
                    <h3>[[profile.data.first_name]] [[profile.data.last_name]]</h3>

                    <p>[[profile.data.about_me]]</p>
                </div>
                <div class="funny-border"></div>
            </div>
        </form>
        <ul class="work-photos">
            <div class="wp_head">
                <h4>Fotos</h4>
            </div>
            <div class="no_item_bar" ng-if="profile.data.work_photos==''">
                <p>No hay fotos para mostrar</p>
            </div>
            <div class="slider_wp" art-slider artdata="profile.data.work_photos">
                <a href="" ng-show="profile.length_ph>4" class='btn-slid prev'><i class="fa fa-caret-left"></i></a>

                <div class='content'>
                    <ul>
                        <li ng-click="profile.show_photo_wk(item)" class="item" ng-class="item.first"
                            ng-repeat='item in profile.data.work_photos'>
                            <div img-facebook class="wp_image" style="background-image: url([[item.image]])"></div>
                            <!--img img-facebook class="wp_image" src="[[]]" alt=""/-->
                            <div class="bg"><i class="fa fa-search"></i></div>
                        </li>
                    </ul>
                </div>
                <a href="" ng-show="profile.length_ph>4" class='btn-slid next'><i class="fa fa-caret-right"></i></a>
            </div>
        </ul>
        <div class="barrastar">
            <h4>Calificación</h4>

            <p class="no_item_bar"
               ng-if="profile.data.reviews_1s==0 && profile.data.reviews_2s==0 && profile.data.reviews_3s==0 && profile.data.reviews_4s==0 && profile.data.reviews_5s==0">
                Sin calificaciones</p>

            <div class="state_bar"
                 ng-show="profile.data.reviews_1s!=0 || profile.data.reviews_2s!=0 || profile.data.reviews_3s!=0 || profile.data.reviews_4s!=0 || profile.data.reviews_5s!=0">
                <div class="barra" ng-show="profile.data.reviews_5s!=0">
                    <p class="puntuc"><span>5</span><span class="star"></span></p>

                    <div class="barra_cont">
                        <div class="bargris" barra-star datastar1="profile.data.reviews_1s"
                             datastar2="profile.data.reviews_2s"
                             datastar3="profile.data.reviews_3s"
                             datastar4="profile.data.reviews_4s"
                             datastar5="profile.data.reviews_5s"
                             datastarstate="profile.data.reviews_5s"></div>
                    </div>
                </div>
                <div class="barra" ng-show="profile.data.reviews_4s!=0">
                    <p class="puntuc"><span>4</span><span class="star"></span></p>

                    <div class="barra_cont">
                        <div class="bargris" barra-star datastar1="profile.data.reviews_2s"
                             datastar2="profile.data.reviews_2s"
                             datastar3="profile.data.reviews_3s"
                             datastar4="profile.data.reviews_4s"
                             datastar5="profile.data.reviews_5s"
                             datastarstate="profile.data.reviews_4s"></div>
                    </div>
                </div>
                <div class="barra" ng-show="profile.data.reviews_3s!=0">
                    <p class="puntuc"><span>3</span><span class="star"></span></p>

                    <div class="barra_cont">
                        <div class="bargris" barra-star datastar1="profile.data.reviews_3s"
                             datastar2="profile.data.reviews_2s"
                             datastar3="profile.data.reviews_3s"
                             datastar4="profile.data.reviews_4s"
                             datastar5="profile.data.reviews_5s"
                             datastarstate="profile.data.reviews_3s"></div>
                    </div>
                </div>
                <div class="barra" ng-show="profile.data.reviews_2s!=0">
                    <p class="puntuc"><span>2</span><span class="star"></span></p>

                    <div class="barra_cont">
                        <div class="bargris" barra-star datastar1="profile.data.reviews_4s"
                             datastar2="profile.data.reviews_2s"
                             datastar3="profile.data.reviews_3s"
                             datastar4="profile.data.reviews_4s"
                             datastar5="profile.data.reviews_5s"
                             datastarstate="profile.data.reviews_2s"></div>
                    </div>
                </div>
                <div class="barra" ng-show="profile.data.reviews_1s!=0">
                    <p class="puntuc"><span>1</span><span class="star"></span></p>

                    <div class="barra_cont">
                        <div class="bargris" barra-star datastar1="profile.data.reviews_5s"
                             datastar2="profile.data.reviews_2s"
                             datastar3="profile.data.reviews_3s"
                             datastar4="profile.data.reviews_4s"
                             datastar5="profile.data.reviews_5s"
                             datastarstate="profile.data.reviews_1s"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <ul class="reviews">
            <h4>Opiniones de mis clientes</h4>

            <p class="no_item_bar" ng-if="profile.review.results==''">Aún no tiene reseñas</p>
            <li data-ng-repeat="item in profile.review.results">
                <div class="star_sincolor2">
                    <div class="star_concolor2 witdh_[[item.done_score]]">
                    </div>
                </div>
                <p class="desc">por <span>Fiorella Rodriguez</span>, [[item.address]], [[item.done_at]]
                </p>

                <div class="clearfix"></div>
                <p class="content">
                    [[item.done_review]]
                </p>
            </li>
            <div class="rv_click_more" ng-if="profile.review.count>5">
                <button class="sl-btn" ng-click="profile.show_more_review()">Mas...</button>
            </div>
        </ul>
    </div>
</div>
</div>
</div>
<div class="back_shadow"></div>
<div class="modal update_wkp show_photo_wk" center>
    <div class="uwp_content">
        <div class="uwp_head">
            <h1>[[photo_selected.subcategory]]</h1>

            <div class="ac_close" data-ng-click="profile.close_modal()"><i class="fa fa-times"></i></div>
        </div>
        <div class="uwp_body">
            <div class="spw_body">
                <img id="img_photo" ng-src="[[photo_selected.image]]" alt=""/>

                <div class="wp_description">
                    <h4>Descripción</h4>

                    <p id="mod_desc">[[photo_selected.caption]]</p>
                </div>
            </div>
        </div>
        <div class="uwp_bottom">

        </div>
    </div>
</div>