<div class="request_service">
    <div class="fs_paso rs_content show_fadein">
        <div class="fsp_head">
            <div class="fsph_cont">
                <div class="triangulo_top_left"></div>
                <div class="fsp_welcome">Solicitar servicio</div>
                <div class="line_separ" id="ls_linea"></div>
                <ul class="list_nro">
                    <li class="step_nro sn_one">1</li>
                    <li class="step_line">
                        <div class="sl_cont one_two"></div>
                    </li>
                    <li class="step_nro sn_two">2</li>
                </ul>
            </div>
        </div>
        <div class="fsp_content">
            <form name="first_s">
                <div class="fsp_primero">
                    <div class="fsp_text">
                        <p>Me gustaría contar con un servicio de:</p>

                        <p class="select_cat">Debes seleccionar una categoría</p>
                    </div>
                    <div class="form_input">
                        <div class="fi_border fi_select">

                            <select class="fib_select" ng-model="create.choose_cat" name="category"
                                    ng-change="sc_event.show_subcategory()">
                                <option value="0">Elejir categoria</option>
                                <option ng-repeat="item in create.category" value="[[item.slug]]">[[item.name]]</option>
                            </select>
                        </div>
                    </div>
                    <div id="pre_loader" class="loader"></div>
                    <div class="chos_subcat">
                        <div class="fsp_text">
                            <p>Para la subcategoría de:</p>

                            <p class="select_cat">Debes seleccionar una subcategoría</p>
                        </div>
                        <div class="form_input">
                            <div class="fi_border fi_select">

                                <select id="subcategory" ng-model="create.choose_sub"
                                        ng-change="sc_event.show_service()"
                                        class="fib_select" name="subcategory">
                                    <option value="0">Elejir subcategoria</option>
                                    <option ng-repeat="item in create.subcategories" value="[[item.slug]]">[[item.name]]
                                    </option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div id="info_service">
                        <div class="fsp_text">
                            <p>Datos sobre el servicio:</p>
                        </div>
                        <div class="form_input">
                            <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_type_state]">
                                <p class="fib_placeholder" ng-class="{true: 'input_opac'}[ser_type!=undefined]">
                                    ¿Qué tipo de serivicio buscas?</p>
                                <input id="tags_event" class="fib_input" name="type" ng-model="ser_type" type="text" placeholder="Ejm: Boda"
                                       required/>
                            </div>
                            <div class="fi_border" ng-class="{true: 'fs_valid'}[nro_people_state]">
                                <p class="fib_placeholder"
                                   ng-class="{true: 'input_opac'}[nro_people!=undefined]">¿Para cuántas
                                    personas?</p>
                                <input class="fib_input" type="number" name="nro_people" ng-model="nro_people"
                                       required/>
                            </div>
                            <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_date_state]">
                                <p class="fib_placeholder" ng-class="{true: 'input_opac'}[ser_date!=undefined]">
                                    ¿Para cuándo lo quiere?</p>
                                <input class="fib_input" id="fecha_e" name="date" value="11/08/2012" ng-model="ser_date" type="date" required/>
                            </div>
                            <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_begin_state]">
                                <p class="fib_placeholder" ng-class="{true: 'input_opac'}[ser_begin!=undefined]">
                                    ¿A qué hora empieza el evento?</p>
                                <input class="fib_input" name="hour_begin" ng-model="ser_begin" type="time" required/>
                            </div>
                            <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_time_state]">
                                <p class="fib_placeholder" ng-class="{true: 'input_opac'}[ser_time!=undefined]">
                                    Duración del servicio (hrs)</p>
                                <input class="fib_input" name="time" ng-model="ser_time" type="number" required/>
                            </div>
                            <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_address_state]">
                                <p class="fib_placeholder"
                                   ng-class="{true: 'input_opac'}[ser_address!=undefined]">¿Dónde se realizará
                                    el servicio?</p>
                                <input class="fib_input" type="text" name="address" ng-model="ser_address"
                                       ng-autocomplete="result1" details="details1" options="options1" placeholder=""
                                       required/>
                            </div>
                            <div class="fi_border">
                                <select class="fib_select" id="district">
                                    <option value="null">Seleccione distrito</option>
                                    <option value="[[dis.postal_code]]" data-ng-repeat="dis in districts">[[dis.name]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form_next">
                        <div class="btn_back" data-ng-click="sc_event.go_service()">
                            <i class="fa fa-chevron-left"></i>

                            <p>Cancelar</p>
                        </div>
                        <div class="btn_next fn_begin" data-ng-click="sc_event.step_two()">
                            <p>Siguiente</p>
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="fsp_segundo">
                    <div class="fsp_text">
                        <p id="review_text">Resumen del servicio:</p>
                    </div>
                    <div class="review_request" id="create_service">
                        <ul>
                            <li>
                                <p class="rr_first">Tipo de evento:</p>

                                <p class="rr_second">[[ser_type]]</p>
                            </li>
                            <li>
                                <p class="rr_first">Cantidad de personas:</p>

                                <p class="rr_second">[[nro_people]]</p>
                            </li>
                            <li>
                                <p class="rr_first">Fecha del servicio:</p>

                                <p class="rr_second">[[ser_date]]</p>
                            </li>
                            <li>
                                <p class="rr_first">Hora de inicio:</p>

                                <p class="rr_second">[[ser_begin]]</p>
                            </li>
                            <li>
                                <p class="rr_first">Duración del servicio:</p>

                                <p class="rr_second">[[ser_time]] hrs</p>
                            </li>
                            <li>
                                <p class="rr_first">Dirección:</p>

                                <p class="rr_second">[[ser_address]]</p>
                            </li>
                            <li>
                                <p class="rr_first">Distrito:</p>

                                <p class="rr_second">[[name_dist]]</p>
                            </li>
                        </ul>
                    </div>
                    <div class="fsp_text charge_service">
                        <div class="create_loading show_fadein">
                            <div class="loader"></div>
                            <p>Cargando ...</p>
                        </div>

                        <div class="cs_text">
                            Servicio Creado
                        </div>
                    </div>
                    <div class="form_next">
                        <div class="btn_before">
                            <div class="btn_back" data-ng-click="sc_event.step_first()">
                                <i class="fa fa-chevron-left"></i>

                                <p>Anterior</p>
                            </div>
                            <div class="btn_next" data-ng-click="sc_event.create_service()">
                                <p>Crear Servicio</p>
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>