<div class="first_step">
<div class="sr_margen">
<div class="fs_paso">
    <div class="fsp_head">
        <div class="fsph_cont">
            <div class="triangulo_top_left"></div>
            <div class="fsp_welcome">¡Bienvenido!</div>
            <div class="line_separ"></div>
            <ul class="list_nro">
                <li class="step_nro sn_one">1</li>
                <li class="step_line">
                    <div class="sl_cont one_two"></div>
                </li>
                <li class="step_nro sn_two">2</li>
                <li class="step_line">
                    <div class="sl_cont two_three"></div>
                </li>
                <li class="step_nro sn_three">3</li>
                <li class="step_line">
                    <div class="sl_cont three_four"></div>
                </li>
                <li class="step_nro sn_four">4</li>
            </ul>
        </div>
    </div>
    <div class="fsp_content">
        <form name="first_s">
            <div class="fsp_primero">
                <div class="fsp_text">
                    <p>Hola emprendedor, bienvenido a nuestra plataforma Servicioslibre, aquí podrás dar a
                        conocer tus servicios y mejorar tu marca personal.</p>

                    <p>Para poder empezar a ser un proveedor de servicios, necesitamos algunos datos tuyos:</p>
                </div>
                <div class="form_input fi_middle">
                    <div class="fi_border" ng-class="{true: 'fs_valid'}[f_name]">
                        <p class="fib_placeholder" ng-class="{true: 'input_opac'}[c_event.name!=undefined]">
                            ¿Cómo te llamas?</p>
                        <input class="fib_input" name="name" ng-model="c_event.name" type="text" required/>
                    </div>
                    <div class="fi_border" ng-class="{true: 'fs_valid'}[l_name]">
                        <p class="fib_placeholder" ng-class="{true: 'input_opac'}[c_event.last_name!=undefined]">
                            ¿Cómo te apellidas?</p>
                        <input class="fib_input" name="last_name" ng-model="c_event.last_name" type="text" required/>
                    </div>
                    <div class="fi_border" ng-class="{true: 'fs_valid'}[l_dni]">
                        <p class="fib_placeholder" ng-class="{true: 'input_opac'}[c_event.dni!=undefined]">
                            DNI</p>
                        <input class="fib_input" maxlength="8" name="dni" ng-model="c_event.dni" type="text" required/>
                    </div>
                    <div class="add_numbers">
                        <div class="fp_block">
                            <div class="fi_border" ng-class="{true: 'fs_valid'}[l_line]">
                                <p class="fib_placeholder fibp_inline" ng-class="{true: 'input_opac'}[c_event.landline!=undefined]">
                                Tu número fijo</p>
                                <input class="fib_input" maxlength="11" name="landline" type="text" ng-model="c_event.landline" required/>
                            </div>
                            <div class="fi_border" ng-class="{true: 'fs_valid'}[m_phone]">
                                <p class="fib_placeholder fibp_inline" ng-class="{true: 'input_opac'}[c_event.mobil_phone!=undefined]">
                                Tu número movil</p>
                                <input class="fib_input" maxlength="11" name="mobil_phone" type="text"
                                       ng-model="c_event.mobil_phone" required/>
                            </div>
                        </div>
                        <div class="an_create" id="anc_agregar"></div>
                        <div class="an_others_number">
                            <p ng-click="c_event.add_numbers()">Agregar números <i class="fa fa-plus"></i></p>
                        </div>
                    </div>
                </div>
                <div class="form_next">
                    <div class="btn_next" data-ng-click="c_event.step_two(first_s)">
                        <p>Siguiente</p>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="fsp_segundo">
                <div class="fsp_text">
                    <p>Mucho gusto <strong>[[c_event.name]] [[c_event.last_name]]</strong>, ahora necesitamos
                        unos datos más sobre tí:</p>
                </div>
                <div class="fi_photo">
                    <div class="fip_img">
                        <img ng-class="{true: 'valid_f'}[pho_val]" id="fs_ph_show"
                             ng-src="[[f_step.data.photo]]" src="{{ STATIC_URL }}images/photo_user.jpg" alt=""/>
                    </div>
                    <div class="fip_text">
                        <p>¿Cómo quieres que te vean tus potenciales clientes?</p>

                        <div class="input_photo">
                            <input type="file" id="in_n_photo" name="photo" ng-model="c_event.photo"
                                   fileread="c_event.photo"/>

                            <div class="fip_input">
                                <i class="fa fa-camera"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_input fi_middle">
                    <div class="fi_border" ng-class="{true: 'fs_valid'}[f_address]">
                        <p class="fib_placeholder" ng-class="{true: 'input_opac'}[address!=undefined]">
                            ¿Dónde vives?</p>
                        <input class="fib_input" name="address" ng-model="address" type="text" />
                    </div>
                    <div class="fi_textarea">
                        <div class="fit_borde"></div>
                        <textarea class="single-line js-auto-size" rows="1" autofocus name="about"
                                  placeholder="Cuentanos un poco sobre ti.." ng-model="about"></textarea>
                    </div>
                    <!-------->
                    <div class="fsp_text">
                        <p>¿En que distrito resides?</p>
                    </div>
                    <div class="fi_border">
                        <select class="fib_select" id="district">
                            <option value="null">Seleccione distrito</option>
                            <option value="[[dis.postal_code]]" data-ng-repeat="dis in districts">[[dis.name]]</option>
                        </select>
                    </div>
                    <div class="fsp_text">
                        <p>¿En que distrito(s) piensas laborar?</p>
                    </div>
                    <div class="add_distritos">
                        <div class="fi_border">
                            <select class="fib_select" id="district0">
                                <option value="null">Seleccione distrito</option>
                                <option value="[[dis.postal_code]]" data-ng-repeat="dis in districts">[[dis.name]]</option>
                            </select>
                        </div>
                        <div id="ad_agregar"></div>
                        <div class="an_others_distrito">
                            <p ng-click="c_event.add_district()">Agregar distrito <i class="fa fa-plus"></i></p>
                        </div>
                    </div>
                    <!-------->
                </div>
                <div class="form_next">
                    <div class="btn_back" data-ng-click="c_event.step_first()">
                        <i class="fa fa-chevron-left"></i>

                        <p>Anterior</p>
                    </div>
                    <div class="btn_next" data-ng-click="c_event.step_three(first_s)">
                        <p>Siguiente</p>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="fsp_tercero">
                <div class="fsp_text">
                    <p>Listo <strong>[[c_event.name]]</strong>, ahora cuentanos en que categorias se encuentran
                        los servicios que realizas:</p>
                </div>
                <div class="form_input">
                    <div class="fi_border fi_select">

                        <select class="fib_select" ng-model="c_event.choose_cat" name="category"
                                data-ng-options="item.name for item in c_event.category">
                        </select>

                    </div>
                </div>
                <div class="fsp_text">
                    <p>Perfecto, ahora marca en que áreas te desempeñas:</p>

                    <p class="fsp_error">Debes seleccionar almenos una subcategoría</p>
                </div>
                <div class="div_margin">
                    <div class="form_input">

                        <div class="subc_in" data-ng-repeat="item in c_event.subcategories">
                            <input class="i_subcat" name="subcategory" value="[[item.slug]]" type="checkbox"/>

                            <p>[[item.name]]</p>
                        </div>

                    </div>
                </div>
                <div class="form_next">
                    <div class="btn_back" data-ng-click="c_event.step_two(first_s)">
                        <i class="fa fa-chevron-left"></i>

                        <p>Anterior</p>
                    </div>
                    <div class="btn_next" data-ng-click="c_event.step_four(first_s)">
                        <p>Siguiente</p>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="fsp_cuarto">
                <div class="fsp_text">
                    <p>Ya casi <strong>[[c_event.name]]</strong>, ahora solo falta que nos indiques cuando estas
                        disponible para terminar tus servicios:</p>

                    <p class="fsp_error_avail">Selecciona tu disponibilidad horaria</p>
                </div>
                <div class="div_margin">
                    <div class="form_input">
                        <div class="calendar_ct" id="calendar_fs">
                            <div class="cct_days">
                                <ul>
                                    <li class="esp"></li>
                                    <li>Dom</li>
                                    <li>Lun</li>
                                    <li>Mar</li>
                                    <li>Mie</li>
                                    <li>Jue</li>
                                    <li>Vie</li>
                                    <li class="sab">Sab</li>
                                </ul>
                            </div>
                            <div ui-calendar="uiConfig.calendar" ng-model="eventSources"
                                 calendar="myCalendar"></div>
                        </div>
                    </div>
                </div>
                <div class="form_next">
                    <div class="btn_back" data-ng-click="c_event.step_three(first_s)">
                        <i class="fa fa-chevron-left"></i>

                        <p>Anterior</p>
                    </div>
                    <div class="btn_next" data-ng-click="c_event.send_form(first_s)">
                        <p>Finalizar</p>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>