<div class="sr_margen">
    <ul class="btn_social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    </ul>
    <ul class="srf_select">
        <li><a href="#">Contáctanos</a></li>
        <li><a href="#">Pagos</a></li>
        <li><a href="#">Preguntas más frecuentes</a></li>
        <li><a href="#">Términos y condiciones</a></li>
    </ul>
    <div class="srf_bot">
        <p>© 2016 Servicios Libre</p>

        <p>hecho con ♥ en Lima</p>
    </div>
</div>