<header class="sr_header">
    <div class="sr_margen">
        <div class="shr_cont">
            <div class="sr_logo">
                <a href="[[Routes.home]]"><p>Servicioslibre<span>.com</span></p></a>
            </div>
            <div class="data_user">
                <ul>
                    <li>
                        <form method="post" action="{% url 'account:logout' %}">
                            {% csrf_token %}
                            <input class="logout" type="submit" value="Cerrar sesión"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>