<header class="sr_header">
    <div class="sr_margen">
        <div class="shr_cont">
            <div class="sr_logo">
                <a href="[[Routes.home]]"><p>Servicioslibre<span>.com</span></p></a>
            </div>
            <div class="data_user">
                <ul>
                    <li>
                        <a href="[[Routes.profile]]">
                            <figure class="du_figure">
                                {% if user.profile.photo %}
                                    <img src="{{ MEDIA_URL }}{{ user.profile.photo }}" alt=""/>
                                {% else %}
                                    <img src="{{ STATIC_URL }}images/photo_user.jpg" alt=""/>
                                {% endif %}
                            </figure>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="du_dropdown">
                                <p>{{ user.get_full_name }}</p>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </a>

                        <div class="dropdown dropdown1 dud_slide">
                            <div class="du_down">
                                <div class="drops_cont">
                                    <ul>
                                        <li><a href="[[Routes.home]]">Inicio</a></li>
                                        <li><a href="[[Routes.profile]]">Mi Perfil</a></li>
                                        <li><a href="[[Routes.requests]]">Mis Propuestas</a></li>
                                        <li>
                                            <form method="post" action="{% url 'account:logout' %}">
                                                {% csrf_token %}
                                                <input type="submit" value="Cerrar sesión"/>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <div class="du_notif">
                                <i class="fa fa-bell-o"></i>
                            </div>
                        </a>

                        <div class="dropdown dropdown2 notification">
                            <div class="du_down">
                                <p class="dd_text">Notificaciones</p>

                                <div class="dn_body">
                                    <div class="no_notific" ng-if="header.data==''">
                                        No tiene notificaciones.
                                    </div>
                                    <ul>
                                        <li ng-repeat="item in header.data"
                                            ng-click="header.go_service(item.object_id)">
                                            <div ng-if="item.type=='ACCEPTED_PROPOSAL'">
                                                <p>El cliente ha aceptado su propuesta.</p>
                                            </div>
                                            <div ng-if="item.type=='CONNECTED'">
                                                <p>Han conectado una de tus propuestas.</p>
                                            </div>
                                            <div ng-if="item.type=='RECOMMENDED'">
                                                <p>Has sido recomendado para un servicio.</p>
                                            </div>
                                            <div ng-if="item.type=='COUNTER_PROPOSAL'">
                                                <p>El cliente te ha hecho una contraprpuesta.</p>
                                            </div>
                                            <div ng-if="item.type=='NEW_MESSAGE'">
                                                <p>Te han dejado un nuevo mensaje en tu propuesta.</p>
                                            </div>
                                            <div ng-if="item.type=='NEW_APPLY'">
                                                <p>Alguien ha aplicado a tu servicio.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>