<div class="srb_cont">
    <div class="srb_category cat_news">
        <div class="sc_content">
            <div class="br_margen">
                <div class="srb_body">
                    <div class="srb_head">
                        <h1 class="show_fadein">Servicios recientes</h1>

                        <div class="sl-btn-2 btn_see_m" data-ng-click="ac_home.categ_g()">Ver más</div>
                    </div>

                    <div class="list_items">
                        <div class="li_unit show_fadein" ng-repeat="service in ac_home.data.last_services"
                             ng-click="ac_home.modal(service)">
                            <div class="img_category"
                                 style="background: url('[[service.image]]') no-repeat; background-size: cover">

                            </div>
                            <div class="li_descript">
                                <figure>
                                    <img ng-src="[[service.photo]]" alt=""/>
                                </figure>
                                <div class="li_data">
                                    <p class="li_category">Me gustaria contar con un servicio de
                                        <span>[[service.subcategory]]</span>
                                    </p>

                                    <div class="lid_cont">
                                        <p class="c_text"><i class="turquesa fa fa-calendar"></i>
                                            <span data-ng-if="!service.date">Lo más pronto posible</span>
                                            [[service.date]][[service.hour]]
                                        </p>

                                        <p class="c_text"><i class="turquesa fa fa-map-marker"></i>[[service.address]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="srb_category cat_others show_fadein" ng-repeat="service in ac_home.data.other_services">
        <div class="sc_content" style="background-color: [[service.color]]; background-image: url([[service.cover]]);">
            <div class="br_margen">
                <div class="srb_body">
                    <div class="srb_head">
                        <h1 class="show_fadein">[[service.name]]</h1>

                        <div class="sl-btn-2 btn-white btn_see_m" data-ng-click="ac_home.see_more(service)">Ver más
                        </div>
                    </div>

                    <div class="list_items">
                        <div class="li_unit li_service_list" ng-click="ac_home.modal(item)"
                             data-ng-repeat="item in service.data">
                            <div class="liu_cont">
                                <div class="li_descript">
                                    <figure>
                                        <img ng-src="[[item.photo]]" alt=""/>
                                    </figure>
                                    <div class="li_data">
                                        <p class="li_category">Necesito el servicio de <span>[[item.subcategory]]</span>
                                        </p>

                                        <div class="lid_cont">

                                            <p class="c_text"><i class="turquesa fa fa-calendar"></i>
                                                <span data-ng-if="!item.date">Lo más pronto posible</span>
                                                [[item.date]][[item.hour]]
                                            </p>

                                            <p class="c_text"><i class="turquesa fa fa-map-marker"></i>[[item.address]]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block_loading show_fadein">
        <div class="loader"></div>
        <p>Cargando ...</p>
    </div>
    <div class="more_subc">
        <div class="sr_margen">Puedes inscribirte a mas subcategorias para recibir mas notificaciones de servicios,
            modifica tus subcategorias en tu <span ng-click="ac_home.go_profile()">Perfil</span></div>
    </div>
</div>
