<div class="solicitudes pg_content">
    <div class="blockcont pg_content">
        <div class="cr_ser_cont">
            <div class="sr_margen">
                <div class="csc_text">
                    <h3 class="show_left"><a href="[[Routes.service]]">Mis servicios</a><i
                            class="fa fa-chevron-right"></i>Servicio de
                        <span>[[applicant.data.subcategory]]</span></h3>
                </div>
                <div class="csc_create">
                    <a href="[[Routes.create]]" class="sl-btn-2">Detalles del servicio</a>
                </div>
            </div>
        </div>
        <div class="service-details">
            <div class="sr_margen">
                <h1>Detalles del servicio</h1>

                <p><span>Creado el:</span><strong>Sep 7, 2014 23:00:00 pm</strong></p>

                <p><span>Se necesita para:</span><strong>Sep 7, 2014 23:00:00 pm</strong></p>

                <p><span>En esta dirección:</span><strong>[[applicant.data.address]]</strong></p>
            </div>
        </div>
        <div class="sr_margen">
            <div class="bc_content">
                <div class="show_fadein no_items_text" ng-if="applicant.data==''">
                    <p>Aun no hay aplicantes para este servicio</p>
                </div>
                <div class="bloque csolititud show_fadein" data-ng-repeat="item in applicant.data.applies"
                     data-ng-click="applicant.go_chat(item)">
                    <div class="imagen" style="background: url([[item.photo]]) no-repeat; background-size: cover"></div>
                    <div class="bloqcont">
                        <div class="infor">
                            <div class="infocont">
                                <div class="textline"
                                     data-ng-if="item.price || item.proposed_price || item.last_propose_applicant">
                                    <div class="icont"><i class="turquesa fa fa-money"></i></div>

                                    <p data-ng-if="item.proposed_price && !item.last_propose_applicant">
                                        S/. [[item.proposed_price]]</p>

                                    <p data-ng-if="item.client_proposed_price && !item.last_propose_applicant">
                                        S/. [[item.client_proposed_price]]</p>

                                    <p data-ng-if="item.price">S/. [[item.price]]</p>
                                </div>
                                <div class="textline"
                                     data-ng-if="!item.price && !item.proposed_price && !item.last_propose_applicant">
                                    <div class="icont">
                                        <i class="turquesa fa fa-certificate"></i>
                                    </div>
                                    <p>Este usuario fue recomendado</p>
                                </div>
                                <div class="textline">
                                    <div class="icont"><i class="turquesa fa fa-map-marker"></i></div>
                                    <p>[[item.address]]</p>
                                </div>
                            </div>
                            <div class="grapgic_ap">
                                <div class="gap_cont">
                                    <div class="gp_block gb_stars">
                                        <div class="star_wo_color">

                                            <div width-color totalstars="item.total_stars"
                                                 ratedservices="item.rated_services"
                                                 class="star_w_color"></div>
                                        </div>
                                        <p>Promedio de <span prom-star total="item.total_stars"
                                                             rated="item.rated_services"></span> calificaciones</p>
                                    </div>
                                    <div class="gp_block gp_trofeo">
                                        <div class="b_trofeo">
                                            <span>[[item.done_services]]</span>
                                            <img src="{{ STATIC_URL }}images/trofeo.png" alt=""/>
                                        </div>
                                        <p>Trabajos completados</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block_loading show_fadein">
                    <div class="container">
                        <div class="circle">
                            <div class="loader"></div>
                        </div>
                        <p>Cargando ...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>