<div class="sr_margen">
<div class="block_loading show_fadein">
    <div class="loader"></div>
    <p>Cargando ...</p>
</div>
<div class="block_prof">
<div class="profile-content">
<ul class="credentials">
    <li class="item">
        <p>Profesional verificado</p>
        <img src="{{ STATIC_URL }}images/check.png" alt=""/>
    </li>
    <li class="separator"></li>
    <li class="item">
        <p> Trabajos completados</p>
        <img src="{{ STATIC_URL }}images/trofeo.png" alt=""/>
        <span>[[ profile.data.done_services ]]</span>
    </li>
    <li class="separator"></li>
    <li class="item">
        <p>Puntuación promedio</p>

        <div class="star_sincolor2">

            <div width-color totalstars="[[profile.data.total_stars]]" ratedservices="[[profile.data.rated_services]]"
                 class="star-color2"></div>
        </div>
    </li>
    <li class="separator"></li>
    <li class="item">
        <div class="sl-btn" ng-click="profile.show_availability()">Ver disponibilidad</div>
    </li>
</ul>
<form name="photo_about" class="ph_about">
    <div class="about">
        <div class="foto">
            <div class="pho_content">
                <div class="block_edit"></div>
                <div class="edit_campo pho_edit" data-ng-click="profile.activateEditingPhoto()">
                    <div class="pe_cont">
                        <i class="fa fa-camera"></i>
                        <input id="in_photo" name="photo" type="file"
                               fileread="profile.photo"/>
                    </div>
                </div>
                <div class="phc_cont">
                    <img data-ng-src="[[profile.data.photo]]" src="" id="pro_photo" alt=""/>
                    <br/>

                    <div class="ch_photo_bt">
                        <div class="edit_campo" data-ng-show="profile.editingPhoto==true"
                             data-ng-click="profile.update_photo()">Aceptar
                        </div>
                        <div class="edit_campo cancel_c" data-ng-show="profile.editingPhoto==true"
                             data-ng-click="profile.cancelEditingPhoto()">Cancelar
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data">
            <h3>[[profile.data.first_name]] [[profile.data.last_name]]</h3>

            <p data-ng-show="profile.about_me==false">[[profile.data.about_me]]</p>

            <p class="no_item_bar" ng-if="profile.data.about_me==''" data-ng-show="profile.about_me==false">Escribe una
                descripción acerca de ti.</p>

            <div class="edit_campo" data-ng-show="profile.about_me==false"
                 data-ng-click="profile.change_about_me()">Editar
            </div>
            <div class="ch_photo_bt">
                <div class="edit_campo acept_c" data-ng-show="profile.about_me==true"
                     data-ng-click="profile.update_about(photo_about)">Aceptar
                </div>
                <div class="edit_campo cancel_c" data-ng-show="profile.about_me==true"
                     data-ng-click="profile.cancel_about_me()">Cancelar
                </div>
            </div>
            <textarea class="am_textarea" name="about_me" ng-model="profile.data.about_me"
                      data-ng-show="profile.about_me==true"></textarea>
        </div>
        <div class="funny-border"></div>
    </div>
    <div class="pa_subcat">
        <h4>Subcategorias</h4>
        <ul data-ng-show="profile.edit_sub==false">
            <li data-ng-repeat="sub in profile.subcategories">
                <div data-ng-repeat="sub_u in profile.data.subcategories">
                    <div ng-if="sub.id==sub_u">
                        <i class="fa fa-check-square"></i>

                        <p>[[sub.name]]</p>
                    </div>
                </div>
            </li>
        </ul>
        <form name="subcategory">
            <div class="fs_sub" data-ng-repeat="sub in profile.subcategories" data-ng-show="profile.edit_sub==true">
                <input class="i_subcat pro_sub" name="subcategory" value="[[sub.id]]" type="checkbox"/>

                <p>[[sub.name]]</p>
            </div>
            <div class="pa_edit">
                <div class="edit_campo" data-ng-show="profile.edit_sub==false"
                     data-ng-click="profile.change_subcategory()">Editar
                </div>
                <div class="edit_campo" data-ng-show="profile.edit_sub==true"
                     data-ng-click="profile.update_subcategory(subcategory)">Aceptar
                </div>
                <div class="edit_campo cancel_c" data-ng-show="profile.edit_sub==true"
                     data-ng-click="profile.cancel_subcategory()">Cancelar
                </div>
            </div>
        </form>
    </div>
</form>
<ul class="work-photos">
    <div class="wp_head">
        <h4>Fotos</h4>

        <div class="update_wp">
            <div class="edit_campo" data-ng-click="profile.modal_update()">Subir una Foto</div>
        </div>
    </div>
    <div class="no_item_bar" ng-if="profile.data.work_photos==''">
        <p>Subir Fotos</p>
    </div>
    <div class="slider_wp" art-slider artdata="profile.data.work_photos">
        <a href="" ng-show="profile.length_ph>4" class='btn-slid prev'><i class="fa fa-caret-left"></i></a>

        <div class='content'>
            <ul>
                <li ng-click="profile.show_photo_wk(item)" class="item" ng-class="item.first"
                    ng-repeat='item in profile.data.work_photos'>
                    <div img-facebook class="wp_image" style="background-image: url([[item.image]])"></div>
                    <!--img img-facebook class="wp_image" src="[[]]" alt=""/-->
                    <div class="bg"><i class="fa fa-search"></i></div>
                </li>
            </ul>
        </div>
        <a href="" ng-show="profile.length_ph>4" class='btn-slid next'><i class="fa fa-caret-right"></i></a>
    </div>
</ul>
<div class="barrastar">
    <h4>Calificación</h4>

    <p class="no_item_bar"
       ng-if="profile.data.reviews_1s==0 && profile.data.reviews_2s==0 && profile.data.reviews_3s==0 && profile.data.reviews_4s==0 && profile.data.reviews_5s==0">
        Aún no tienes calificaciones</p>

    <div class="state_bar"
         ng-show="profile.data.reviews_1s!=0 || profile.data.reviews_2s!=0 || profile.data.reviews_3s!=0 || profile.data.reviews_4s!=0 || profile.data.reviews_5s!=0">
        <div class="barra" ng-show="profile.data.reviews_5s!=0">
            <p class="puntuc"><span>5</span><span class="star"></span></p>

            <div class="barra_cont">
                <div class="bargris" barra-star datastar1="profile.data.reviews_1s"
                     datastar2="profile.data.reviews_2s"
                     datastar3="profile.data.reviews_3s"
                     datastar4="profile.data.reviews_4s"
                     datastar5="profile.data.reviews_5s"
                     datastarstate="profile.data.reviews_5s"></div>
            </div>
        </div>
        <div class="barra" ng-show="profile.data.reviews_4s!=0">
            <p class="puntuc"><span>4</span><span class="star"></span></p>

            <div class="barra_cont">
                <div class="bargris" barra-star datastar1="profile.data.reviews_2s"
                     datastar2="profile.data.reviews_2s"
                     datastar3="profile.data.reviews_3s"
                     datastar4="profile.data.reviews_4s"
                     datastar5="profile.data.reviews_5s"
                     datastarstate="profile.data.reviews_4s"></div>
            </div>
        </div>
        <div class="barra" ng-show="profile.data.reviews_3s!=0">
            <p class="puntuc"><span>3</span><span class="star"></span></p>

            <div class="barra_cont">
                <div class="bargris" barra-star datastar1="profile.data.reviews_3s"
                     datastar2="profile.data.reviews_2s"
                     datastar3="profile.data.reviews_3s"
                     datastar4="profile.data.reviews_4s"
                     datastar5="profile.data.reviews_5s"
                     datastarstate="profile.data.reviews_3s"></div>
            </div>
        </div>
        <div class="barra" ng-show="profile.data.reviews_2s!=0">
            <p class="puntuc"><span>2</span><span class="star"></span></p>

            <div class="barra_cont">
                <div class="bargris" barra-star datastar1="profile.data.reviews_4s"
                     datastar2="profile.data.reviews_2s"
                     datastar3="profile.data.reviews_3s"
                     datastar4="profile.data.reviews_4s"
                     datastar5="profile.data.reviews_5s"
                     datastarstate="profile.data.reviews_2s"></div>
            </div>
        </div>
        <div class="barra" ng-show="profile.data.reviews_1s!=0">
            <p class="puntuc"><span>1</span><span class="star"></span></p>

            <div class="barra_cont">
                <div class="bargris" barra-star datastar1="profile.data.reviews_5s"
                     datastar2="profile.data.reviews_2s"
                     datastar3="profile.data.reviews_3s"
                     datastar4="profile.data.reviews_4s"
                     datastar5="profile.data.reviews_5s"
                     datastarstate="profile.data.reviews_1s"></div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<ul class="reviews">
    <h4>Opiniones de mis clientes</h4>

    <p class="no_item_bar" ng-if="profile.review.results==''">Aún no tienes reseñas</p>
    <li data-ng-repeat="item in profile.review.results">
        <div class="star_sincolor2">
            <div class="star_concolor2 witdh_[[item.done_score]]">
            </div>
        </div>
        <p class="desc">por <span>Fiorella Rodriguez</span>, [[item.address]], [[item.done_at]]
        </p>

        <div class="clearfix"></div>
        <p class="content">
            [[item.done_review]]
        </p>
    </li>
    <div class="rv_click_more" ng-if="profile.review.count>5">
        <button class="sl-btn" ng-click="profile.show_more_review()">Mas...</button>
    </div>
</ul>
</div>
</div>
</div>
</div>
<div class="back_shadow"></div>
<div class="modal update_wkp up_data_wkp" center>
    <div class="uwp_content">
        <form name="wp_up_form">
            <div class="uwp_head">
                <h1>Subir Foto</h1>

                <div class="ac_close" data-ng-click="profile.close_modal()"><i class="fa fa-times"></i></div>
            </div>
            <div class="uwp_body">
                <ul>
                    <li>
                        <p class="f_text">Imagen</p>

                        <div class="l_text">
                            <img id="modal_up" src="" alt=""/>
                            <input name="photo" id="mid_pho" type="file" ng-model="profile.photo_work"
                                   fileread="profile.w_photo"/>
                            <span class="valid_style" ng-if="wp_up_form.photo.$dirty">Selecciona una imagen</span>
                        </div>
                    </li>
                    <li>
                        <p class="f_text">Categoria</p>

                        <div class="l_text">
                            <select ng-model="profile.choose_sub" name="subcategory"
                                    data-ng-options="item.name for item in profile.subcategories" required>
                            </select>
                        </div>
                    </li>
                    <li>
                        <p class="f_text">Descripcion</p>

                        <div class="l_text">
                            <textarea ng-model="profile.description" name="description"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uwp_bottom">
                <button type="button" class="sl-btn btn_aply" data-ng-click="profile.update_works_photo(wp_up_form)">
                    Subir
                </button>
                <button type="button" class="sl-btn btn_aply" data-ng-click="profile.close_modal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
<div class="modal show_avl" center>
    <div class="aply_cont">
        <div class="ac_body">
            <div class="calendar_ct">
                <div class="cct_days">
                    <ul>
                        <li class="esp"></li>
                        <li>Dom</li>
                        <li>Lun</li>
                        <li>Mar</li>
                        <li>Mie</li>
                        <li>Jue</li>
                        <li>Vie</li>
                        <li class="sab">Sab</li>
                    </ul>
                </div>
                <div ui-calendar="uiConfig.calendar" ng-model="e_Sources" calendar="myCalendar"></div>
            </div>
        </div>
        <div class="ac_bottom">
            <button class="sl-btn btn_aply" ng-click="profile.send_avail()">Aceptar</button>
            <button class="sl-btn btn_aply" ng-click="profile.close_avail()">Cancelar</button>
        </div>
    </div>
</div>
<div class="modal update_wkp show_photo_wk" center>
    <div class="uwp_content">
        <div class="uwp_head">
            <h1>[[photo_selected.subcategory]]</h1>

            <div class="ac_close" data-ng-click="profile.close_modal()"><i class="fa fa-times"></i></div>
        </div>
        <div class="uwp_body">
            <div class="spw_body">
                <img id="img_photo" ng-src="[[photo_selected.image]]" alt=""/>

                <div class="wp_description">
                    <h4>Descripción</h4>

                    <p id="mod_desc">[[photo_selected.caption]]</p>
                </div>
            </div>
        </div>
        <div class="uwp_bottom">

        </div>
    </div>
</div>