<div class="cr_ser_cont" ng-if="client==true">
    <div class="sr_margen">
        <div class="csc_text">
            <ul>
                <li><a href=""><i class="fa fa-weixin"></i>Chat</a></li>
                <li><a href=""><i class="fa fa-user"></i>Perfil</a></li>
            </ul>
        </div>
        <div class="csc_create">
            <a href="" class="sl-btn">Conectar</a>
        </div>
    </div>
</div>
