<div class="solicitudes pg_content">
    <div class="blockcont pg_content">
        <div class="cr_ser_cont" ng-if="client==true">
            <div class="sr_margen">
                <div class="csc_text">
                    <h3 class="show_left">Mis Servicios</h3>
                </div>
                <div class="csc_create">
                    <a href="[[Routes.create]]" class="sl-btn-2">Solicitar Servicio</a>
                </div>
            </div>
        </div>
        <div class="sr_margen">
            <div class="bc_content">
                <div>
                    <div class="not_verified" ng-if="!verified && applicant==true">
                        Debe ser profesional verificado para poder ver tus Propuestas.
                    </div>
                    <div class="not_verified" ng-if="ac_request.data=='' && verified">
                        <p>Aun no has enviado ninguna propuesta.</p>

                        <p>Ir a <a href="[[Routes.home]]">Mis Servicios</a></p>
                    </div>
                    <div class="bloque csolititud show_fadein" data-ng-click="ac_request.go_chat(item)"
                         data-ng-repeat="item in ac_request.data" ng-if="applicant==true">

                        <div class="imagen">
                            <div class="inner"
                                 style="background-image: url([[item.image]]);"></div>
                            <div class="screen"></div>
                        </div>
                        <div class="bloqcont">
                            <div class="conectado">
                                <p class="verde" data-ng-if="item.connected"><i class="fa fa-unlock"></i>conectado</p>

                                <p class="morado" data-ng-if="!item.connected"><i class="fa fa-lock"></i>pendiente</p>
                            </div>
                            <div class="infor">
                                <p class="titulo">[[item.subcategory]]</p>

                                <div class="infocont">
                                    <div class="textline">
                                        <div class="icont"><i class="turquesa fa fa-calendar"></i></div>
                                        <p>[[item.date]]
                                            <span data-ng-if="!item.date">Lo más pronto posible</span></p>
                                    </div>
                                    <div class="textline">
                                        <div class="icont"><i class="turquesa fa fa-clock-o"></i></div>
                                        <p>[[item.hour]]<span data-ng-if="!item.hour">Cualquier hora</span></p>
                                    </div>
                                    <div class="textline">
                                        <div class="icont"><i class="turquesa fa fa-map-marker"></i></div>
                                        <p>[[item.address]]</p>
                                    </div>
                                    <div class="textline price"
                                         data-ng-if="item.price || item.proposed_price || item.client_proposed_price">
                                        <div class="icont"><i class="turquesa fa fa-money"></i></div>
                                        <p data-ng-if="item.price"><b class="final">s/.[[item.price]]</b> (Precio
                                            fijado)
                                        </p>

                                        <p data-ng-if="item.price==null && item.proposed_price!=null && item.last_propose_applicant">
                                            <b class="mine">s/.[[item.proposed_price]]</b>(Tu propuesta)</p>

                                        <p data-ng-if="item.price==null && item.client_proposed_price!=null && !item.last_propose_applicant">
                                            <b class="client">s/.[[item.client_proposed_price]]</b> (Propuesto por el
                                            cliente)</p>
                                    </div>
                                    <div class="textline"
                                         data-ng-if="item.price==null && item.proposed_price==null && item.client_proposed_price==null">
                                        <div class="icont"><i class="turquesa fa fa-thumbs-up"></i></div>
                                        <p>Has sido recomendado para este servicio</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bloque csolititud show_fadein" data-ng-repeat="item in solicitud.data"
                         data-ng-click="solicitud.go_list_applicant(item)" ng-if="client==true">
                        <div class="imagen">
                            <div class="inner"
                                 style="background-image: url([[item.image]]);"></div>
                            <div class="screen morethanzero" data-ng-if="item.number_proposals>0">
                                <p data-ng-if="item.number_proposals==1"><span>[[item.number_proposals]]</span>
                                    propuesta</p>

                                <p data-ng-if="item.number_proposals>1"><span>[[item.number_proposals]]</span>
                                    propuestas</p>
                            </div>
                            <div class="screen zero" data-ng-if="item.number_proposals==0">
                                <p><span> 0 </span> propuestas</p>
                            </div>
                        </div>
                        <div class="bloqcont">
                            <div class="conectado">
                                <p class="morethanzero" data-ng-if="item.number_proposals>0 && !item.done_at"
                                   title="[[item.number_proposals]] propuestas">
                                    [[item.number_proposals]]</p>

                                <p class="zero" data-ng-if="item.number_proposals==0" title="Buscando propuestas">
                                    0
                                </p>

                                <p class="done" data-ng-if="item.done_at">
                                    <i class="fa fa-thumbs-up"></i>
                                </p>

                            </div>
                            <div class="infor">
                                <p class="titulo">[[item.subcategory]]</p>

                                <div class="infocont">
                                    <div class="textline">
                                        <div class="icont"><i class="icon fa fa-calendar"></i></div>
                                        <p>[[item.date]]
                                            <span data-ng-if="!item.date">Lo más pronto posible</span></p>
                                    </div>
                                    <div class="textline">
                                        <div class="icont"><i class="icon fa fa-clock-o"></i></div>
                                        <p>[[item.hour]]<span data-ng-if="!item.hour">Cualquier hora</span></p>
                                    </div>
                                    <div class="textline">
                                        <div class="icont"><i class="icon fa fa-map-marker"></i></div>
                                        <p>[[item.address]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block_loading show_fadein">
                    <div class="loader"></div>
                    <p>Cargando ...</p>
                </div>
            </div>
        </div>
    </div>
</div>