<div class="subcat_cont">
    <div class="sr_margen">
        <p class="li_title" ng-if="title_cat">Servicios de [[title_cat]]</p>
        <p class="li_title" ng-if="!title_cat">Servicios Generales</p>

        <div class="scat_body">
            <div class="list_items">
                <div class="li_unit" ng-click="sub_ctrl.modal(item)" data-ng-repeat="item in sub_ctrl.data.results">
                    <div class="liu_cont">
                        <div class="li_descript">
                            <figure>
                                <img ng-src="[[item.photo]]" alt=""/>
                            </figure>
                            <div class="li_data">
                                <p class="li_category">Necesito el servicio de <span>[[item.subcategory]]</span>
                                </p>

                                <div class="lid_cont">

                                    <p class="c_text"><i class="turquesa fa fa-calendar"></i>
                                        <span data-ng-if="!item.date">Lo más pronto posible</span>
                                        [[item.date]][[item.hour]]
                                    </p>

                                    <p class="c_text"><i class="turquesa fa fa-map-marker"></i>[[item.address]]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>