<!DOCTYPE html>
<html>
<head>
    <title>Pagina para usuarios no Logueados</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/font-awesome.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/src/registro.js"></script>

    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="page-wrap">
        <header class="in_header">
            {% block header %}
                <div class="sr_margen">
                    <div class="ih_cont">
                        <div class="sr_logo">
                            <a href="{% url "services:home" %}"><p>Servicioslibre<span>.com</span></p></a>
                        </div>
                        <div class="ih_nav">
                            <ul>
                                <li><a href="#">¿Cómo funciona?</a></li>
                                <li><a href="#">¿Quieres brindar servicios?</a></li>
                                <li><a class="{% block nav_request %}{% endblock %}"
                                       href="{% url 'services:request-service' %}">Solicitar servicio</a></li>
                            </ul>
                        </div>
                        <div class="ih_sesion">
                            <a class="sl-btn ihs_sign" href="{% url "account:register" %}">Registrate</a>
                            <a class="sl-btn ihs_login" href="{% url "account:login" %}">Inicia sesión</a>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </header>
        <section id="main">
            {% block content %}
            {% endblock %}
        </section>
    </div>
    <footer class="sr_footer">
        <div class="sr_margen">
            <ul class="btn_social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <ul class="srf_select">
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Pagos</a></li>
                <li><a href="#">Preguntas más frecuentes</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
            <div class="srf_bot">
                <p>© 2016 Servicios Libre</p>

                <p>hecho con ♥ en Lima</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>