{% extends "base.html" %}

{% block content %}
    <div class="banner1">
        <div class="baner1_cont">
            <div class="sr_margen">
                <div class="title">
                    <p>Necesitas un servicio para tu casa o un evento...</p>

                    <div class="clearfix"></div>
                    <p>aquí encontrarás emprendedores independientes</p>

                    <div class="clearfix"></div>
                    <p>a tu disposición.</p>

                    <div class="clearfix"></div>
                </div>

                <div class="button-trans" onclick="window.location='/request-service/step1/'">Solicita un servicio
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="pasos">
        <div class="sr_margen">
            <ul>
                <li class="info_cont">
                    <div class="paso paso-der">

                        <!--img src="{{ STATIC_URL }}images/Pasos_Foto1.png" alt="primer-paso" class="paso-img"/-->
                        <div class="number">1</div>

                        <div class="text">
                            <p class="title"><span>Describe</span> el servicio</p>

                            <p class="subtitle">Cuéntanos sobre el servicio que necesitas, dónde, cuándo y el
                                alcance de este.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <!--li class="ag_cont"><img src="{{ STATIC_URL }}images/arrow_green.png" alt=""/></li-->
                <li class="info_cont">
                    <div class="paso paso-izq">

                        <!--img src="{{ STATIC_URL }}images/Pasos_Foto2.png" alt="segundo-paso" class="paso-img"/-->
                        <div class="number">2</div>
                        <div class="text">
                            <p class="title"><span>Elige</span> al indicado</p>

                            <p class="subtitle">Se contactado por emprendedores o recibe nuestras
                                recomendaciones.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <!--li class="ag_cont"><img src="{{ STATIC_URL }}images/arrow_green.png" alt=""/></li-->
                <li class="info_cont">
                    <div class="paso paso-der">
                        <div class="number">3</div>
                        <!--img src="{{ STATIC_URL }}images/Pasos_Foto3.png" alt="tercer-paso" class="paso-img"/-->

                        <div class="text">
                            <p class="title"><span>Paga</span> al final</p>

                            <p class="subtitle">Pagas una vez que el servicio haya sido realizado
                                satisfactoriamente.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--div class="banner2"></div-->
    <div class="banner4">
        <div class="sr_margen"><img src="{{ STATIC_URL }}images/plumber.png" alt=""/></div>
    </div>
    <div class="categorias">
        <div class="sr_margen">
            <h1 class="sl-title">Nuestras Categorías</h1>
            <ul class="cat-list">
                <li>
                    <div class="cb_content">
                        <div class="category-box">
                            <img src="{{ STATIC_URL }}images/parties.jpg" alt=""/>
                        </div>
                        <div class="cb_text_c cbt_1">
                            <p>Eventos & Fiestas</p>
                            <img src="{{ STATIC_URL }}images/p_icon.png" alt=""/>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="cb_content">
                        <div class="category-box">
                            <img src="{{ STATIC_URL }}images/bienestar.jpg" alt=""/>
                        </div>
                        <div class="cb_text_c cbt_2">
                            <p>Belleza & Bienestar</p>
                            <img src="{{ STATIC_URL }}images/b_icon.png" alt=""/>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="cb_content">
                        <div class="category-box">
                            <img src="{{ STATIC_URL }}images/private-class.gif" alt=""/>
                        </div>
                        <div class="cb_text_c cbt_4">
                            <p>Clases particulares</p>
                            <img src="{{ STATIC_URL }}images/c_icon.png" alt=""/>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}