<!DOCTYPE html>
<html ng-app="suricats">
<head>
    <title></title>
    <script>
        var userid ={{ user.id }};
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/textarea-expander.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-route.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/ng-animate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-mocks.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/ng-tags-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/lodash.underscore.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/restangular.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/autocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/ngAutocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-ui-router.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/infinite-scroll.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/fileUp.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-cookies.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/autocomplete.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/font-awesome.css"/>

    <script type="text/javascript" src="{{ STATIC_URL }}scripts/src/app/suricats.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/src/app/controllers/initializeCtrl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/src/app/controllers/ac_headerCtrl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/src/app/controllers/ac_solicitudCtrl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/src/app/controllers/ac_createCtrl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/src/app/controllers/ac_chatCtrl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/src/app/controllers/ac_applicantCtrl.js"></script>
    <!--Google maps api key-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
</head>
<body ng-controller="initializeCtrl">
<div class="wrapper">
    <div class="page-wrap">
        <div ui-view="header"></div>
        <div ui-view class="wr_body"></div>
    </div>
    <div ui-view="footer" class="sr_footer"></div>
</div>
</body>
</html>