<!DOCTYPE html>
<html data-ng-app="suricats">
<head>
    <title></title>
    <script type="application/javascript">
        var userid ={{ user.id }};
        var verified;
        {% if user.profile.verified %} verified = true;{% else %} verified = false;{% endif %}
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/jquery.autosize.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/textarea-expander.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular.min.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/vendor/app_calendar/jquery-ui/ui/jquery.ui.core.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/vendor/app_calendar/jquery-ui/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/vendor/app_calendar/jquery-ui/ui/jquery.ui.mouse.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/vendor/app_calendar/jquery-ui/ui/jquery.ui.draggable.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/vendor/app_calendar/jquery-ui/ui/jquery.ui.droppable.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/vendor/app_calendar/jquery-ui/ui/jquery.ui.resizable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/fullcalendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/calendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-route.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/ng-animate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-mocks.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/ng-tags-input.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/lodash.underscore.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/restangular.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/autocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/ngAutocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-ui-router.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/infinite-scroll.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/fileUp.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/angular-cookies.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/font-awesome.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/fullcalendar.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/fullcalendar.print.css" media='print'/>

    <script type="text/javascript" src="{{ STATIC_URL }}scripts/src/app_applicant/suricats.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/src/app_applicant/controllers/initializeCtrl.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/src/app_applicant/controllers/first_stepCtrl.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/src/app_applicant/controllers/headerCtrl.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/src/app_applicant/controllers/homeCtrl.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/src/app_applicant/controllers/profileCtrl.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/src/app_applicant/controllers/requestCtrl.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/src/app_applicant/controllers/chatCtrl.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}scripts/src/app_applicant/controllers/subcategoryCtrl.js"></script>
</head>
<body ng-controller="initializeCtrl">
<div class="wrapper">
    <!--   Modals   -->
    <div class="back_shadow"></div>

    <div class="modal mod_aply" center>
        <div class="aply_cont">
            <form name="aply_serv">
                <div class="ac_head">
                    <h1>Servicio de [[ modal_data.subcategory ]]</h1>

                    <div class="ac_close" ng-click="ac_init.close_modal()"><i class="fa fa-times"></i></div>
                </div>
                <div class="ac_body">

                    <ul class="acb_details">
                        <li>
                            <p class="f_text">Fecha</p>

                            <p class="l_text st_text"><span data-ng-if="!modal_data.date">Lo más pronto posible</span>[[modal_data.date]]
                            </p>
                        </li>
                        <li data-ng-if="modal_data.hour">
                            <p class="f_text">Hora</p>

                            <p class="l_text st_text">[[modal_data.hour]]
                            </p>
                        </li>
                        <li>
                            <p class="f_text">Dirección</p>

                            <p class="l_text st_text">[[modal_data.address]]</p>
                        </li>
                        <li>
                            <p class="f_text">Descripción</p>

                            <div class="l_text st_text">
                                <p>Me gustaría contar con un servicio de [[modal_data.subcategory]]</p>

                                <p data-ng-if="modal_data.details">para un(a)
                                    <b>[[modal_data.details['event-type'] ]]</b> con
                                    <b>[[modal_data.details['number-people'] ]]</b> invitado(s) y una duración de
                                    <b>[[modal_data.details['duration'] ]]</b> hr(s).
                                </p>
                            </div>
                        </li>
                    </ul>

                    <div class="aply_service" data-ng-show="modal_data.my_apply==null && verified">
                        <h3>Aplica a este servicio</h3>

                        <p>
                            Puedo realizar el servicio por
                            s/.<input ng-class="{true: 'valid_f'}[!state_price]"
                                      name="price" type="number" ng-model="price" placeholder="precio"
                                      required/>
                            <span class="valid_style" ng-if="!state_price">Pon un precio</span>

                        </p>
                        <textarea name="describe" class="i_textarea" ng-model="describe"
                                  placeholder="Agregar detalles"
                                ></textarea>

                    </div>
                </div>
                <div class="ac_bottom" data-ng-show="verified" data-ng-class="{true:'red_aply'}[modal_data.my_apply!=null]">
                    <p class="acb_p" data-ng-show="modal_data.my_apply">
                        Ya aplicaste a este servicio. <a href="" ng-click="ac_init.go_request(modal_data.my_apply)">Ver
                        solicitud</a>
                    </p>
                    <button type="button" class="sl-btn btn_aply" data-ng-show="modal_data.my_apply==null"
                            data-ng-click="ac_init.aplicar(aply_serv,[[modal_data.id]])">Aplicar
                    </button>
                </div>
                <div class="ac_bottom" data-ng-show="!verified" data-ng-class="{true:'red_aply'}[!verified]">
                    <p class="acb_p">
                        Debe ser profesional verificado para poder aplicar aun servicio.
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="modal aply_click" center>
        <div class="ac_content">
            <div class="ac_head">
                <h1>Servicio Aplicado</h1>

                <div class="ac_close" ng-click="ac_init.close_modal()"><i class="fa fa-times"></i></div>
            </div>
            <div class="ac_body">
                <p>Propuesta enviada</p>
            </div>
            <div class="ac_bottom">
                <button class="sl-btn btn_aply" ng-click="ac_init.close_modal()">Aceptar</button>
            </div>
        </div>
    </div>
    <!--   Fin de los modals   -->
    <div class="page-wrap">
        <div ui-view="header"></div>
        <div ui-view class="wr_body"></div>
    </div>
    <div ui-view="footer" class="sr_footer"></div>
</div>
</body>
</html>