{% extends "base.html" %}

{% block header %}
    <div class="sr_margen">
        <div class="ih_cont">
            <div class="sr_logo">
                <a href="{% url "services:home" %}"><p>Servicioslibre<span>.com</span></p></a>
            </div>
            <div class="ih_nav">
                <ul>
                    <li><a href="#">¿Cómo funciona?</a></li>
                    <li><a href="#">¿Quieres brindar servicios?</a></li>
                    <li><a href="{% url 'services:request-service' %}">Solicitar servicio</a></li>
                </ul>
            </div>
            <div class="ih_sesion">
                <a class="sl-btn ihs_sign" href="{% url "account:register" %}">Regístrate</a>
                <a class="sl-btn ihs_login" href="{% url "account:login" %}">Inicia sesión</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="cont_log">
        <div class="br_margen cont2-main">
            <h1 class="title">Inicia Sesión</h1>

            <div class="login-container">
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <i class="fa fa-envelope"></i>
                        <input name="email" class="input" type="email" placeholder="Correo electrónico" required>
                    </p>

                    <p>
                        <i class="fa fa-lock"></i>
                        <input name="password" class="input" type="password" placeholder="Contraseña" required>
                    </p>

                    <div class="controls">
                        <input class="sl-btn-2" type="submit" value="Entrar"/>
                    </div>
                </form>
            </div>
            <h1 class="title">ó</h1>
{#            <a href='{% url "social:begin" "facebook" %}' class="sl-btn-2 btn-blue btn-registro">Inicia sesión con#}
{#                <i class="fa fa-facebook-square"></i></a>#}

            <p class="loginq">¿Aún no tienes una cuenta? <a href="{% url 'account:register' %}">Regístrate aquí</a></p>
        </div>
    </div>
{% endblock %}