{% extends 'base.html' %}

{% block js %}
    <script src="{{ STATIC_URL }}scripts/vendor/angular.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/vendor/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/vendor/angular-route.js"></script>
    <script src="{{ STATIC_URL }}scripts/src/app_service.js"></script>

{% endblock %}

{% block content %}
    <div ng-app="project">
        <div ng-view></div>
    </div>
    <script type="application/template" id="list_subcategory">

        <div class="request_service">
            <div class="fs_paso rs_content">
                <div class="fsp_head">
                    <div class="fsph_cont">
                        <div class="triangulo_top_left"></div>
                        <div class="fsp_welcome">Solicitar servicio</div>
                        <div class="line_separ" id="ls_linea"></div>
                        <ul class="list_nro">
                            <li class="step_nro sn_one">1</li>
                            <li class="step_line">
                                <div class="sl_cont one_two"></div>
                            </li>
                            <li class="step_nro sn_two">2</li>
                        </ul>
                    </div>
                </div>
                <div class="fsp_content">
                    <form name="first_s">
                        <div class="fsp_primero">
                            <div class="fsp_text">
                                <p>Me gustaría contar con un servicio de:</p>

                                <p class="select_cat">Debes seleccionar una categoría</p>
                            </div>
                            <div class="form_input">
                                <div class="fi_border fi_select">

                                    <select id="subcategory" ng-model="form_sub" ng-change="sc_event.show_service()"
                                            class="fib_select" name="subcategory">
                                        <option value="0">Elegir subcategoría</option>
                                        {% for category in object_list %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div id="info_service">
                                <div class="fsp_text">
                                    <p>Datos sobre el servicio:</p>
                                </div>
                                <div class="form_input">
                                    <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_type_state]">
                                        <p class="fib_placeholder" ng-class="{true: 'input_opac'}[ser_type!=undefined]">
                                            ¿Qué tipo de serivicio buscas?</p>
                                        <input class="fib_input" name="type" ng-model="ser_type" type="text" required/>
                                    </div>
                                    <div class="fi_border" ng-class="{true: 'fs_valid'}[nro_people_state]">
                                        <p class="fib_placeholder"
                                           ng-class="{true: 'input_opac'}[nro_people!=undefined]">¿Para cuántas
                                            personas?</p>
                                        <input class="fib_input" type="number" name="nro_people" ng-model="nro_people"
                                               required/>
                                    </div>
                                    <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_date_state]">
                                        <p class="fib_placeholder" ng-class="{true: 'input_opac'}[ser_date!=undefined]">
                                            ¿Para cuándo lo quiere?</p>
                                        <input class="fib_input" name="date" ng-model="ser_date" type="date" required/>
                                    </div>
                                    <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_begin_state]">
                                        <p class="fib_placeholder" ng-class="{true: 'input_opac'}[ser_time!=undefined]">
                                            ¿A qué hora empieza el evento?</p>
                                        <input class="fib_input" name="hour_begin" ng-model="ser_begin" type="time"
                                               required/>
                                    </div>
                                    <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_time_state]">
                                        <p class="fib_placeholder" ng-class="{true: 'input_opac'}[ser_time!=undefined]">
                                            Duración del servicio (hrs)</p>
                                        <input class="fib_input" name="time" ng-model="ser_time" type="number"
                                               required/>
                                    </div>
                                    <div class="fi_border" ng-class="{true: 'fs_valid'}[ser_address_state]">
                                        <p class="fib_placeholder"
                                           ng-class="{true: 'input_opac'}[ser_address!=undefined]">¿Dónde se realizará
                                            el servicio?</p>
                                        <input class="fib_input" type="text" name="address" ng-model="ser_address"
                                               required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form_next fn_begin">
                                <div class="btn_next" data-ng-click="sc_event.step_two()">
                                    <p>Siguiente</p>
                                    <i class="fa fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="fsp_segundo">
                            <div class="fsp_text">
                                <p id="review_text">Resumen del servicio:</p>
                            </div>
                            <div class="review_request">
                                <ul>
                                    <li>
                                        <p class="rr_first">Tipo de servicio:</p>

                                        <p class="rr_second">[[ser_type]]</p>
                                    </li>
                                    <li>
                                        <p class="rr_first">Cantidad de personas:</p>

                                        <p class="rr_second">[[nro_people]]</p>
                                    </li>
                                    <li>
                                        <p class="rr_first">Fecha del servicio:</p>

                                        <p class="rr_second">[[ser_date]]</p>
                                    </li>
                                    <li>
                                        <p class="rr_first">Hora de inicio:</p>

                                        <p class="rr_second">[[ser_begin]]</p>
                                    </li>
                                    <li>
                                        <p class="rr_first">Duración del servicio:</p>

                                        <p class="rr_second">[[ser_time]]</p>
                                    </li>
                                    <li>
                                        <p class="rr_first">Dirección:</p>

                                        <p class="rr_second">[[ser_address]]</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="sign_up_cont">
                                <div class="fspt_block last_fspt">
                                    <div class="fsp_text">
                                        <p>Un último paso - Crea una cuenta:</p>
                                    </div>
                                    <div class="form_input">
                                        <div class="fi_border">
                                            <input class="fib_input" name="email" ng-model="user_email" type="email"
                                                   placeholder="¿Cuál es tu correo electrónico?" required/>
                                        </div>
                                        <div class="fi_border">
                                            <input class="fib_input" name="password" ng-model="user_pass"
                                                   type="password" placeholder="Escribe una contraseña" required/>
                                        </div>
                                    </div>
                                    <div class="btn_finish">
                                        <a href="" class="btn_f_boton sl-btn-2">Crear una cuenta</a>
                                    </div>
                                </div>
                                <div class="cont_circle">
                                    <div class="cc_line"></div>
                                    <div class="circle_one">
                                        <div class="circle_two">
                                            ó
                                        </div>
                                    </div>
                                </div>
                                <div class="fspt_block">
                                    <div class="form_input">
                                        <a href="/login/facebook/" class="sign_ip_fb">Regístrate con <i
                                                class="fa fa-facebook-square"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form_next">
                                <div class="btn_back" data-ng-click="sc_event.step_first()">
                                    <i class="fa fa-chevron-left"></i>

                                    <p>Anterior</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>
    <script type="application/template" id="detail-template">
    </script>
{% endblock %}
