{% extends "base.html" %}

{% block header %}
    <div class="sr_margen">
        <div class="ih_cont">
            <div class="sr_logo">
                <a href="{% url "services:home" %}"><p>Servicioslibre<span>.com</span></p></a>
            </div>
            <div class="ih_nav">
                <ul>
                    <li><a href="#">¿Cómo funciona?</a></li>
                    <li><a href="#">¿Quieres brindar servicios?</a></li>
                    <li><a href="{% url 'services:request-service' %}">Solicitar servicio</a></li>
                </ul>
            </div>
            <div class="ih_sesion">
                <a class="sl-btn ihs_sign" href="{% url "account:register" %}">Regístrate</a>
                <a class="sl-btn ihs_login" href="{% url "account:login" %}">Inicia sesión</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="cont_log cont2-main">
        <div class="br_margen">
            <h1 class="title">Regístrate</h1>

            <div class="signuplike">
                <div class="slcont" id="serv">
                    <p>Como solicitante del servicio</p>
                </div>
                <div class="slcont" id="prov">
                    <p>Como proveedor de soluciones</p>
                </div>
            </div>
            <div id="servicio"
                    {% if second %}
                 style="display: none"
                    {% endif %}>
                <div class="login-container bubble">
                    {% if form.non_field_errors and not second %}
                        {{ form.non_field_errors }}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}

                        <p>
                            <i class="fa fa-user"></i>
                            <input type="text" name="first_name" required placeholder="¿Cómo te llamas?"/>
                        </p>

                        <p>
                            <i class="fa fa-envelope"></i>
                            <input type="email" name="email" required placeholder="¿Cuál es tu email?"/>
                        </p>

                        <p>
                            <i class="fa fa-lock"></i>
                            <input type="password" name="password" required placeholder="Contraseña"/>
                        </p>

                        <div class="controls">
                            <input name="second" class="sl-btn-2" type="submit" value="Crear una cuenta"/>
                        </div>
                    </form>
                </div>
                <h1 class="title">ó</h1>

                {#                <a href='{% url "social:begin" "facebook" %}' class="sl-btn-2 btn-blue btn-registro">Regístrate con#}
                {#                    <i class="fa fa-facebook-square"></i></a>#}

            </div>

            <div id="proveedor"
                    {% if not second %}
                 style="display: none"
                    {% endif %}>
                <div class="login-container bubble2">
                    {% if form.non_field_errors and second %}
                        {{ form.non_field_errors }}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="is_applicant" id="id_is_applicant" value="true">

                        <p>
                            <i class="fa fa-user"></i>
                            <input type="text" name="first_name" required placeholder="¿Cómo te llamas?"/>
                        </p>

                        <p>
                            <i class="fa fa-envelope"></i>
                            <input type="email" name="email" required placeholder="¿Cuál es tu email?"/>
                        </p>


                        <div class="as-p">
                            <i class="fa fa-suitcase"></i>

                            <div class="select-div">
                                <select name="category" id="category">
                                    <option value="" disabled selected>¿En que área te desenvuelves?</option>
                                    {% for category in categories %}
                                        <option name="category" value="{{ category.slug }}">{{ category.name }}</option>
                                    {% endfor %}


                                </select>
                            </div>
                        </div>

                        <p>
                            <i class="fa fa-lock"></i>
                            <input type="password" name="password" required placeholder="Contraseña"/>
                        </p>

                        <div class="controls">
                            <input name="second" class="sl-btn-2" type="submit" value="Crear una cuenta"/>
                        </div>
                    </form>
                </div>
            </div>

            <p class="loginq">¿Ya tienes una cuenta? <a href="{% url 'account:login' %}">Inicia sesión</a></p>
        </div>
    </div>
{% endblock %}