{% extends 'base.html' %}

{% block nav_request %}
    active
{% endblock %}

{% block content %}
    <div class="categorias">
        <div class="sr_margen">
            <h1 class="sl-title">Elija una categoría</h1>

            <div class="hover-categorias">
                <ul class="cat-list">
                    <li>
                        <a href="{% url "services:request-service-by" slug="eventos-y-fiestas" %}">
                            <div class="cb_content">
                                <div class="category-box">
                                    <img src="{{ STATIC_URL }}images/parties.jpg" alt=""/>
                                </div>
                                <div class="cb_text_c cbt_1">
                                    <p>Eventos & Fiestas</p>
                                    <img src="{{ STATIC_URL }}images/p_icon.png" alt=""/>
                                </div>
                                <div class="cortina">
                                    <div class="circle-check">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a href="aasas">
                        <div class="cb_content">
                            <div class="category-box">
                                <img src="{{ STATIC_URL }}images/bienestar.jpg" alt=""/>
                            </div>
                            <div class="cb_text_c cbt_2">
                                <p>Belleza & Bienestar</p>
                                <img src="{{ STATIC_URL }}images/b_icon.png" alt=""/>
                            </div>
                            <div class="cortina">
                                <div class="circle-check">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    </li>
                    <li>
                        <a href="aasas">
                            <div class="cb_content">
                                <div class="category-box">
                                    <img src="{{ STATIC_URL }}images/private-class.gif" alt=""/>
                                </div>
                                <div class="cb_text_c cbt_4">
                                    <p>Clases particulares</p>
                                    <img src="{{ STATIC_URL }}images/c_icon.png" alt=""/>
                                </div>
                                <div class="cortina">
                                    <div class="circle-check">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}