
.contenido {
    padding: 50px 0;
}

.clearfix {
    clear: both;
}

header .header-actions {
    float: right;
    margin-top: 11px;
}

header .header-links {
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

header .header-links a, header .header-actions a {
    font-family: font1;
    color: #0e743c;
    text-decoration: none;
}

header .header-links a {
    margin-left: 15px;
}

header .header-links a:hover {
    text-decoration: underline;
}

header .header-actions a {
    border: 1px solid #0e743c;
    float: left;
    padding: 2px 12px;
}

header .header-actions a:hover {
    background: #3F9B68;
    color: white;
}

header .header-actions a:first-child {
    border-right: none;
}

header .header-perfil {
    float: right;
}

header .header-perfil .perblock {
    background: #008249;
    border-radius: 3px;
    border: 2px solid #00693a;
    color: white;
    padding: 7px 20px;
}

header .header-perfil .perblock .pernombre {
    margin-right: 25px;
    position: relative;
}

header .header-perfil .perblock .pernombre .dropdown {
    position: absolute;
    top: 25px;
    left: -22px;
    width: 213px;
    display: none;
}

header .header-perfil .perblock .pernombre .dropdown .drops_cont {
    border: 2px solid #00693a;
    border-radius: 0 0 3px 3px;
}

header .header-perfil .perblock .pernombre .dropdown .drops_cont a {
    color: #f5f5f5;
    font-size: 13px;
    font-family: font1;
    display: block;
    text-decoration: none;
    padding: 9px 20px;
    background: #008249;
}

header .header-perfil .perblock .pernombre .dropdown .drops_cont a:hover {
    background: #00aa68;
}

header .header-perfil .perblock .pernombre, header .header-perfil .perblock .notific {
    display: inline-block;
    vertical-align: top;
}

header .header-perfil .perblock .pernombre p, header .header-perfil .perblock .pernombre i {
    display: inline-block;
    vertical-align: top;
}

.header-perfil .perblock .pernombre i {
    margin-top: 2px;
}

header .header-perfil .perblock .pernombre p {
    font-family: font1;
    font-size: 13px;
    margin-right: 10px;
}

header .logo {
    float: left;
}

header .cont2-header .logo {
    float: none;
    margin: 0 auto;
    display: block;
}

#main .banner1 {
    width: 100%;
}

#main .banner4 {
    background: #51B1BE;
}

#main .banner4 .sr_margen {
    height: 400px;
    position: relative;
}

#main .banner4 img {
    position: absolute;
    bottom: 0;
    height: 450px;
    left: 40px;
}

#main .banner1 .baner1_cont {
    background: url(../images/banner_m.jpeg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
}

#main .banner2 {
    background: url(../images/Foto2_homepage.jpg) center center no-repeat;
    background-size: cover;
    height: 500px;
}

#main .banner3 {
    background: url(../images/Foto3_homepage.jpg) center center no-repeat;
    background-size: cover;
    height: 300px;
}

#main .banner3 .sr_margen {
    overflow: hidden;
}

#main .banner3 .text {
    color: #494949;
    width: 50%;
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    padding: 20px;
    margin-top: 100px;
    line-height: 32px;
}

#main .banner3 .link-green {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 30px;
    font-family: font6;
    font-weight: bold;
    display: block;
    float: left;
}

#main .banner3 .link-green:hover {
    color: #0e743c;
}

#main .banner1 .sr_margen {
    margin-top: 197px;
    margin-bottom: 50px;
}

#main .banner1 .title p {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    font-size: 50px;
    font-family: font11;
    float: left;
    margin: 0;
    padding: 0 15px;
}

#main .banner1 .button-trans {
    width: 280px;
    padding: 15px 0px;
    font-size: 26px;
    margin: 50px auto 0;
    font-family: font12;
    font-weight: bold;
}

#main .banner1 .btn_down {
    margin-top: 30px;
    text-align: center;
}

#main .banner1 .btn_down i {
    color: rgba(255, 255, 255, .5);
    font-size: 45px;
    cursor: pointer;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    transition: .2s all ease;
}

#main .banner1 .btn_down i:hover {
    color: #ffffff;
}

.button-trans {
    border-radius: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border: white 1px solid;
    cursor: pointer;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    transition: .2s all ease;
}

.button-trans:hover {
    background-color: rgba(255, 255, 255, .7);
    color: black;
}

#main .categorias {
    padding: 70px 0 80px;
}

#main h1.sl-title {
    margin-bottom: 40px;
}

#main .categorias .cat-list {
    text-align: center;
}

#main .categorias .cat-list li .category-box img {
    width: 205px;
    height: 130px;
    border-radius: 3px 3px 0 0;
}

#main .categorias .cat-list li .category-box {
    height: 130px;
}

#main .categorias .cat-list li {
    display: inline-block;
    color: #bdbcbc;
    font-size: 14px;
    font-family: font6;
    vertical-align: top;
}

#main .categorias .cat-list li .cb_content {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0;
}

#main .categorias .cat-list li:first-child .cb_content {
    margin: 0 20px 0 0;
}

#main .categorias .cat-list li:last-child .cb_content {
    margin: 0 0 0 20px;
}

#main .categorias .cat-list li .cb_content {
    position: relative;
}

#main .categorias .cat-list li .cb_content .cortina {
    display: none;
}

#main .categorias .cat-list li .cb_content .cortina .circle-check i {
    padding: 10px;
}

#main .categorias .cat-list li .cb_content .cortina .circle-check {
    width: 70px;
    height: 70px;
    background: rgba(81, 177, 190, 0.76);
    border-radius: 100px;
    font-size: 50px;
    margin-top: 55px;
    margin-left: 70px;
}

#main .categorias .cat-list li .cb_content:hover .cortina {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #1695A7;
    color: white;
}

#main .categorias .cat-list li .cb_content .cbt_1 {
    background-color: #99B25F;
}

#main .categorias .cat-list li .cb_content .cbt_2 {
    background-color: #F06060;
}

#main .categorias .cat-list li .cb_content .cbt_3 {
    background-color: #3C6C9D;
}

#main .categorias .cat-list li .cb_content .cbt_4 {
    background-color: #FFCB05;
}

#main .categorias .cat-list li .cb_content .cb_text_c {
    overflow: hidden;
}

#main .categorias .cat-list li .cb_content .cb_text_c p {
    float: left;
}

#main .categorias .cat-list li .cb_content .cb_text_c img {
    width: 45px;
    float: right;
    height: 45px;
}

#main .categorias .cat-list li .cb_content p {
    font-family: font17;
    font-size: 13px;
    color: white;
    width: 160px;
    margin-top: 15px;
}

#main .categorias .cat-list li:last-child {
    margin-bottom: 0;
}

#main .pasos {
    padding: 80px 0;
    background-image: url(../images/seamless-abstract-squares.png);
}

#main .pasos .pc_title {
    color: #0e743c;
    font-family: font12;
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
}

#main .pasos ul {
    text-align: center;
}

#main .pasos li {
    display: inline-block;
    vertical-align: top;
    margin: 0 14px;
}

#main .pasos .info_cont {
    width: 274px;
}

#main .pasos .info_cont .paso img {
    width: 274px;
    height: 223px;
}

#main .pasos .info_cont .paso .text {
    margin-top: 10px;
    text-align: center;
}

#main .pasos .info_cont .paso .text .title {
    font-size: 27px;
    font-family: font12;
    color: #000000;
    margin-bottom: 20px;
}

#main .pasos .info_cont .paso .text .title span {
    color: #51B1BE;
}

#main .pasos .info_cont .paso .text .subtitle {
    font-size: 20px;
    font-family: font12;
    color: rgb(70, 70, 70);
}

#main .pasos .ag_cont img {
    width: 80px;
    margin-top: 70px;
}

#main .cont2-main {
    padding-top: 40px;
    overflow: hidden;
}

#main .cont2-main .title {
    font-size: 25px;
    font-family: font12;
    color: rgb(90, 90, 90);
    text-align: center;
}

#main .cont2-main .loginq {
    text-align: center;
    margin-bottom: 70px;
    font-family: font12;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

#main .cont2-main .loginq a {
    color: #51B1BE;
}

#main .cont2-main .loginq a:hover {
    text-decoration: underline;
}

#main .cont2-main .signuplike {
    margin: 30px auto;
    width: 500px;
    height: 60px;
}

#main .cont2-main .signuplike .slcont {
    float: left;
    background-color: white;
    padding: 15px;
    text-align: center;
    width: 250px;
    font-family: font8;
    font-size: 14px;
    color: rgb(136, 136, 136);
    cursor: pointer;
    border: 1px solid #d8d8d8;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
}

#main .cont2-main .signuplike .slcont:hover {
    border: 1px solid #51B1BE;
    box-shadow: rgba(81, 177, 190, 0.5) 0 0 3px;
    color: #51B1BE;
}

#main .cont2-main .login-container {
    border: 1px solid #d8d8d8;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    border-radius: 3px;
    width: 500px;
    margin: 30px auto;
    padding: 40px;
}

#main .o-separator {
    text-align: center;
    font-size: 24px;
    color: rgb(90, 90, 90);
}

#main .cont2-main .btn-registro {
    width: 180px;
    text-align: center;
    font-family: font8;
    font-size: 16px;
    margin: 30px auto;
    display: block;
    text-decoration: none;
}

#main .cont2-main .btn-registro .fa {
    font-size: 22px;
    margin-left: 5px;
}

#main .cont2-main .login-container .controls {
    padding: 20px 0 10px;
}

#main .cont2-main .login-container .sl-btn-2 {
    display: block;
    margin: 0 auto;
}

#main .cont2-main .login-container p, #main .cont2-main .login-container .as-p {
    margin: 20px;
}

#main .cont2-main .login-container input[type=text], #main .cont2-main .login-container input[type=email], #main .cont2-main .login-container input[type=password] {
    outline: none;
    border: none;
    border-bottom: 1px solid #bdbcbc;
    font-size: 16px;
    font-family: font12;
    height: 35px;
    width: 300px;
    padding: 0 10px;
}

#main .cont2-main .login-container .select-div {
    width: 300px;
    height: 35px;
    border-bottom: 1px solid #bdbcbc;
    background: white url("../images/flecha.png") no-repeat right;
    overflow: hidden;
    display: inline-block;
}

#main .cont2-main .login-container select {
    border: none;
    padding: 0 10px;
    width: 300px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 35px;
    font-family: font12;
    background: transparent;
    overflow: hidden;
    outline: none;
}

#main .cont2-main .login-container .fa {
    color: #51B1BE;
    font-size: 24px;
    width: 25px;
    text-align: center;
    margin-right: 25px;
    vertical-align: bottom;
}

.servcont {
    width: 900px;
    margin: 0 auto 100px;
    color: rgb(90, 90, 90);
    padding: 40px 70px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
}

.servcont .needser {
    text-align: center;
    margin-bottom: 50px;
}

.servcont .needser .selectser select:focus {
    outline: none;
}

.servcont .needser .selectser {
    border-radius: 2px;
    background: #FFFFFF;
    border: 1px solid #51B1BE;
    overflow: hidden;
}

.servcont .needser .selectser select, .servcont .needser .selectser i {
    display: inline-block;
    vertical-align: top;
}

.servcont .needser .selectser select {
    color: #51B1BE;
    box-shadow: none;
    background: transparent none;
    -webkit-appearance: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    padding-right: 20px;
}

.servcont .needser .selectser i {
    position: absolute;
    color: #51B1BE;
    top: 7px;
    right: 10px;
}

.servcont .needser p {
    margin-right: 20px;
    margin-top: 9px;
}

.servcont .needser p, .servcont .needser .selectser {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.servcont .needser .selectser {
    cursor: pointer;
}

.servcont .datoserv p {
    margin-bottom: 25px;
}

.servcont .datoserv .first_camp p, .servcont .datoserv .first_camp .selecd {
    display: inline-block;
    vertical-align: top;
}

.servcont .datoserv .first_camp .selecd select {
    width: 130px;
}

.servcont .datoserv .first_camp .selecd i {
    margin-left: -20px;
}

.servcont .datoserv .second_camp p {
    margin-top: 3px;
}

.servcont .datoserv .second_camp p, .servcont .datoserv .second_camp input {
    display: inline-block;
    vertical-align: top;
}

.servcont .datoserv .second_camp input {
    font-family: font2;
    font-size: 12px;
    padding: 2px 5px;
    width: 80px;
}

.servcont .datoserv .fs_cont {
    height: 30px;
}

.servcont .datoserv .first_camp, .servcont .datoserv .second_camp {
    float: left;
}

.servcont .datoserv .third_camp p, .servcont .datoserv .third_camp input {
    display: inline-block;
    vertical-align: top;
}

.servcont .datoserv .third_camp p {
    margin-top: 3px;
}

.servcont .datoserv .third_camp input {
    font-family: font2;
    font-size: 12px;
    padding: 2px 5px;
    width: 300px;
}

.servcont .datoserv .fourth_camp {
    margin: 40px 0;
}

.servcont .datoserv .fourth_camp p {
    margin-bottom: 10px;
}

.servcont .datoserv .fourth_camp p span {
    font-size: 13px;
    font-family: font1;
}

.servcont .datoserv .fourth_camp textarea {
    border: 1px solid rgb(200, 200, 200);
    padding: 7px;
    font-family: font1;
    font-size: 13px;
    width: 480px;
    max-width: 480px;
    max-height: 135px;
    height: 135px;
}

.servcont .datoserv .fifth_camp i, .servcont .datoserv .fifth_camp p {
    display: inline-block;
    vertical-align: top;
}

.servcont .datoserv .fifth_camp .wrap_calendar {
    width: 500px;
}

.ds_camp {
    display: none;
}

.servcont .detailsadd {
    margin: 60px 0;
}

.servcont .detailsadd p {
    margin-bottom: 20px;
}

.servcont .detailsadd p span {
    color: rgb(0, 129, 28);
    margin-left: 5px;
    font-size: 13px;
}

.servcont .detailsadd textarea {
    width: 500px;
    max-width: 500px;
    height: 150px;
    max-height: 150px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(180, 180, 180);
    font-size: 13px;
    font-family: font6;
}

.servcont .addhours {
    margin-bottom: 70px;
}

.servcont .addhours i, .servcont .addhours p {
    display: inline-block;
    vertical-align: top;
}

.servcont .addhours i {
    font-size: 30px;
    margin-right: 10px;
}

.servcont .addhours p {
    margin-top: 6px;
}

.servcont .boton {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 70px;
}

.servcont .terminos a {
    color: rgb(5, 8, 129);
}

.boton button {
    border: 2px solid rgb(0, 129, 28);
    padding: 5px 15px;
    border-radius: 2px;
    font-family: font8;
    font-size: 13px;
    background: white;
    cursor: pointer;
    color: rgb(0, 129, 28);
}

.boton button:hover {
    background: rgb(0, 129, 28);
    color: white;
}

.funciona {
    width: 900px;
    margin: 0 auto 100px;
    color: rgb(143, 143, 143);
    padding: 30px 0 50px 0;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
}

.funciona .funcategoria {
    border-bottom: 1px solid #d8d8d8;
}

.funciona .funcategoria .catecont {
    padding: 0 50px 10px;
    overflow: hidden;
}

.funciona .funcategoria .catecont p {
    padding-top: 10px;
    float: left;
    font-family: font8;
    color: rgb(90, 90, 90);
}

.funciona .funcategoria .catecont button {
    float: right;
    font-size: 13px;
    font-family: font2;
    color: white;
    border-radius: 2px;
    padding: 4px 10px;
    border: 2px solid rgb(180, 180, 180);
    background: rgb(200, 200, 200);
}

.funciona .funcategoria .catecont button i {
    margin-left: 5px;
}

.funciona .funcont {
    padding: 30px 70px;
}

.detailscont {
    width: 758px;
    margin: 0 auto;
}

.detailscont .details {
    background: white;
}

.details {
    text-align: left;
    display: none;
    margin-bottom: 30px;
    padding: 40px 30px 30px;
    background: rgb(240, 240, 240);
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: rgb(90, 90, 90);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
}

.details .detcont {
    width: 400px;
}

.details .titulo {
    font-family: font3;
    margin-bottom: 20px;
    color: rgb(90, 90, 90);
}

.details .textone {
    margin-bottom: 15px;
    font-size: 15px;
}

.funciona .funcont .infoverde {
    background: rgb(0, 130, 73);
    border: 1px solid rgb(0, 124, 67);
    border-radius: 3px;
    font-family: font6;
    font-size: 15px;
    box-shadow: rgba(0, 124, 67, 0.5) 0 0 3px;
    padding: 30px;
    color: white;
    margin-bottom: 70px;
}

.funciona .funcont .steps {
    text-align: center;
}

.funciona .funcont .steps li {
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
}

.funciona .funcont .steps .linea {
    width: 100px;
    margin-top: 75px;
    border-bottom: 2px solid rgb(220, 220, 220);
}

.funciona .funcont .steps .circle .circulo {
    height: 150px;
    width: 150px;
    background: rgb(220, 220, 220);
    border-radius: 50%;
}

.funciona .funcont .steps .circle .nropaso {
    margin-top: 20px;
    font-family: OBold;
}

.funciona .funcont .steps .circle .nropaso .cirnro {
    border: 2px solid rgb(0, 130, 73);
    margin-right: 5px;
    border-radius: 50%;
    color: rgb(0, 130, 73);
    width: 28px;
    font-family: font3;
    height: 28px;
}

.funciona .funcont .steps .circle .nropaso p {
    margin-top: 3px;
    color: rgb(90, 90, 90);
    font-family: font9;
}

.funciona .funcont .steps .circle .nropaso .cirnro, .funciona .funcont .steps .circle .nropaso p {
    display: inline-block;
    vertical-align: top;
}

.confirm {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    width: 900px;
    font-family: OLight;
    margin: 0 auto 100px;
    color: rgb(90, 90, 90);
    padding: 40px 70px;
}

.confirm .titulo {
    text-align: center;
    margin-bottom: 30px;
    font-family: font8;
    font-size: 18px;
}

.confirm .botsend {
    text-align: center;
}

.confirm .editar {
    position: relative;
    background: rgb(240, 240, 240);
    padding: 60px 55px 30px;
    margin-bottom: 60px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
}

.confirm .editar .btedit {
    position: absolute;
    top: 20px;
    right: 20px;
}

.confirm .editar .btedit button {
    background: rgb(240, 240, 240);
    padding: 4px 15px;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
    font-family: font8;
    color: rgb(150, 150, 150);
    border: 2px solid rgb(150, 150, 150);
}

.confirm .editar .btedit button:hover {
    background: rgb(150, 150, 150);
    color: white;
}

.confirm .editar .zona {
    overflow: hidden;
    margin-bottom: 10px;
}

.confirm .editar .zona .zonact1 {
    text-align: right;
    width: 232px;
    font-size: 14px;
    font-family: font3;
    float: left;
}

.confirm .editar .zona .zonact2 {
    width: 395px;
    float: right;
    text-align: left;
    font-family: font6;
    font-size: 14px;
}

.confirm .laststep {
    margin-bottom: 40px;
    text-align: center;
    font-family: font6;
}

.confirm .laststep span {
    color: rgb(0, 130, 28);
    font-family: font8;
}

.confirm .registrarse {
    font-size: 15px;
    position: relative;
}

.confirm .registrarse p {
    font-size: 13px;
    font-family: font8;
}

.confirm .registrarse .circleabs {
    position: absolute;
    top: 130px;
    left: 347px;
}

.circleabs {
    background: white;
    border-radius: 50%;
    padding: 10px;
}

.circleabs .cirgreen {
    border: 1px solid rgb(0, 130, 28);
    border-radius: 50%;
    padding: 11px;
}

.circleabs .cirgreen .cirgris {
    border: 3px solid rgb(200, 200, 200);
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.confirm .registrarse .newcuenta {
    padding-right: 60px;
    border-right: 1px solid #bdbcbc;
}

.confirm .registrarse .newcuenta .inpcont {
    margin: 40px 0;
}

.confirm .registrarse .newcuenta .boton {
    margin-bottom: 50px;
    text-align: center;
}

.confirm .registrarse .registro {
    padding-left: 60px;
}

.inpcont .zonaq {
    overflow: hidden;
    margin-bottom: 20px;
}

.inpcont .zonaq .cti {
    float: left;
    text-align: center;
    width: 30px;
    font-size: 25px;
    color: #0e743c;
}

.inpcont .zonaq input {
    float: right;
    width: 265px;
    font-family: font6;
    font-size: 13px;
    margin-top: 4px;
    padding: 4px 10px;
}

.confirm .registrarse .newcuenta, .confirm .registrarse .registro {
    display: inline-block;
    vertical-align: top;
    width: 49.7%;
}

.solicitudes .toptext {
    overflow: hidden;
    padding: 20px 0 10px;
    border-bottom: 1px solid rgb(143, 143, 143);
}

.margentop {
    width: 1100px;
    margin: 0 auto;
}

.solicitudes .toptext p {
    float: left;
    margin-top: 10px;
    color: rgb(150, 150, 150);
}

.solicitudes .toptext p span {
    font-weight: bold;
}

.solicitudes .toptext button {
    float: right;
    border-radius: 2px;
    background: white;
    border: 2px solid rgb(0, 130, 28);
    color: rgb(0, 130, 28);
    font-size: 14px;
    padding: 10px 20px;
}

.solicitudes .toptext button:hover {
    background: rgb(0, 130, 28);
    color: white;
}

.margencont {
    width: 850px;
    margin: 0 auto;
}

.solicitudes .blockcont .bc_content {
    overflow: hidden;
    padding: 50px 0;
    width: 1530px;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .solicitudes .blockcont .bc_content {
        width: 1020px;
    }
}

@media (max-width: 1400px) {
    .solicitudes .blockcont .bc_content .bloque .imagen {
        display: none;
    }

    .solicitudes .blockcont .bc_content {
        width: 1014px;
    }
}

@media (max-width: 1200px) {
    .solicitudes .blockcont .bc_content {
        width: 676px;
    }
}

.solicitudes .blockcont .bc_content .bloque {
    float: left;
    height: 172px;
    margin: 15px 10px;
}

.solicitudes .blockcont .bc_content .bloque:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);
}

.bloque {
    background: white;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    transition: .3s all ease;
}

.bloque .imagen {
    float: left;
    height: 170px;
    width: 170px;
    overflow: hidden;
}

.bloque .imagen img {
    width: 100%;
    border-radius: 3px 0 0 3px;
}

.bloque .bloqcont {
    float: right;
    width: 316px;
    padding: 13px;
    color: rgb(150, 150, 150);
}

.conectado {
    overflow: hidden;
    padding: 0;
    background: white;
    font-size: 14px;
    float: right;
}

.conectado p {
    font-family: font11;
    color: rgb(0, 130, 28);
}

.conectado .morado {
    color: #8A8A8A;
}

.conectado p i {
    margin-right: 5px;
}

.bloque .bloqcont .infor .data_person {
    margin-top: 8px;
}

.bloque .bloqcont .infor .data_person .dp_list {
    margin-bottom: 7px;
}

.bloque .bloqcont .infor .data_person .dp_list:last-child {
    margin-bottom: 0;
}

.bloque .bloqcont .infor .data_person .dpl_first, .bloque .bloqcont .infor .data_person .dpl_second {
    display: inline-block;
    vertical-align: top;
}

.bloque .bloqcont .infor .data_person .dpl_first {
    font-family: font8;
    font-size: 15px;
    color: rgb(70, 70, 70);
}

.bloque .bloqcont .infor .data_person .dpl_second {
    font-family: font12;
    margin-left: 10px;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.bloque .bloqcont .infor .titulo {
    font-size: 17px;
    font-family: font11;
    margin-bottom: 25px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.grapgic_ap .gp_block {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}

.grapgic_ap {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #51B1BE;
}

.grapgic_ap .gap_cont {
    text-align: center;
}

.grapgic_ap .gb_stars {
    width: 115px;
}

.grapgic_ap .gb_stars .star_wo_color {
    margin-bottom: 10px;
}

.grapgic_ap .gp_trofeo {
    width: 100px;
}

.grapgic_ap .gp_trofeo .b_trofeo {
    position: relative;
}

.grapgic_ap .gp_trofeo .b_trofeo img {
    width: 36px;
}

.grapgic_ap .gp_trofeo .b_trofeo span {
    position: absolute;
    top: 4px;
    width: 25px;
    font-family: font1;
    color: rgb(70, 70, 70);
    left: 37px;
}

.grapgic_ap .gp_block p {
    font-family: font8;
    font-size: 13px;
    color: rgb(70, 70, 70);
}

.bloque .bloqcont .infor .infocont .textline {
    overflow: hidden;
}

.bloque .bloqcont .infor .infocont .textline.price b {
    margin-right: 10px;
    padding: 3px;
    color: white;
}

.bloque .bloqcont .infor .infocont .textline.price b.client {
    margin-right: 10px;
    background: rgb(194, 17, 17);
}

.bloque .bloqcont .infor .infocont .textline.price b.mine {
    margin-right: 10px;
    background: rgb(16, 107, 158);
}

.bloque .bloqcont .infor .infocont .textline.price b.final {
    margin-right: 10px;
    background: rgb(55, 146, 12);
}

.bloque .bloqcont .infor .infocont .textline .icont {
    float: left;
    width: 30px;
    font-size: 18px;
    text-align: center;
    margin-top: 2px;
}

.bloque .bloqcont .infor .infocont .textline p {
    float: right;
    width: 250px;
    margin-top: 6px;
    font-size: 13px;
    font-family: font8;
    color: rgb(90, 90, 90);
}

.bloque .bloqcont .infor .mensaje {
    color: rgb(70, 70, 70);
    font-family: font12;
    font-size: 14px;
    height: 37px;
    overflow-y: auto;
}

.bloque .bloqcont .detaser .parrafo {
    margin-bottom: 25px;
    font-family: font7;
    font-size: 14px;
    color: rgb(70, 70, 70);
}

.bloque .bloqcont .detaser .parrafo p {
    margin-bottom: 8px;
}

.bloque .bloqcont .detaser .parrafo span {
    font-family: font9;
}

.catcont .imgcont {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    margin: 0 25px;
    color: rgb(70, 70, 70);
}

.catcont .imgcont .figura {
    margin-bottom: 15px;
}

.catcont .check {
    width: 90px;
}

.catcont .estrellas {
    width: 161px;
}

.catcont .estrellas .figura {
    margin-bottom: 30px;
}

.star_sincolor {
    width: 161px;
    height: 30px;
    background-image: url("../images/estrella.png");
}

.star_concolor {
    height: 30px;
    background-image: url("../images/estrellablack.png");
}

.star_concolor2 {
    height: 21px;
    background-image: url("../images/greenss.png");
}

.catcont .trofeo {
    width: 85px;
}

.catcont .trofeo .imgtrofeo {
    width: 63px;
    padding-top: 15px;
    height: 67px;
    margin: 0 auto;
    background: url("../images/trofeo.png");
}

.star-rating1 {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 135px;
    height: 18px;
    overflow: hidden;
    position: relative;
    background: url("../images/stargreen.png");
}

.star-rating1 {
    width: 114px;
    height: 22px;
    background: url("../images/stargreen.png");
}

.star-rating2 {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 135px;
    height: 18px;
    overflow: hidden;
    position: relative;
    background: url("../images/estrella.png");
}

.star-rating2 {
    width: 161px;
    height: 30px;
    background: url("../images/estrella.png");
}

.star-rating2 i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url("../images/estrellablack.png");
    background-size: contain;
}

.star-rating1 i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url("../images/greenss.png");
    background-size: contain;
}

.star-rating2 i {
    background: url("../images/estrellablack.png");
}

.star-rating1 i {
    background: url("../images/greenss.png");
}

.star-rating2 input, .star-rating1 input {
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

.star-rating2 input:checked + i,
.star-rating1 input:hover + i,
.star-rating1 input:checked + i {
    opacity: 1;
}

.star-rating2 i ~ i, .star-rating1 i ~ i {
    width: 40%;
}

.star-rating2 i ~ i ~ i, .star-rating1 i ~ i ~ i {
    width: 60%;
}

.star-rating2 i ~ i ~ i ~ i, .star-rating1 i ~ i ~ i ~ i {
    width: 80%;
}

.star-rating2 i ~ i ~ i ~ i ~ i, .star-rating1 i ~ i ~ i ~ i ~ i {
    width: 100%;
}

.catering .toptext button {
    background: rgb(200, 200, 200);
    border: 2px solid rgb(150, 150, 150);
    padding: 5px 15px;
    color: white;
}

.catering .toptext button:hover {
    background: rgb(200, 200, 200);
}

.respcontent .toptext {
    padding: 30px 0 0;
    height: 100px;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.respcontent .toptext .navqw {
    float: left;
}

.respcontent .toptext .navqw .nav {
    margin-top: 10px;
}

.respcontent .toptext .navqw p {
    font-family: font9;
    color: rgb(90, 90, 90);
    font-size: 14px;
}

.respcontent .toptext .navqw p span {
    font-family: font3;
    font-size: 15px;
    color: rgb(70, 70, 70);
}

.respcontent .toptext .navqw .nav li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    width: 42px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    border-top: 1px solid white;
}

.respcontent .toptext .navqw .nav li:hover {
    background: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: 1px solid rgb(140, 140, 140);
    border-left: 1px solid rgb(140, 140, 140);
    border-right: 1px solid rgb(140, 140, 140);
}

.respcontent .toptext .navqw .nav li img {
    height: 25px;
}

.respcontent .toptext button {
    float: right;
    border: 2px solid rgb(0, 130, 28);
    color: rgb(0, 130, 28);
    background: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 2px;
}

.respcontent .toptext button:hover {
    background: rgb(0, 130, 28);
    color: white;
}

.respcontent .respuestacont {
    background: rgb(250, 250, 250);
    padding: 50px 0;
}

.respcontent .respuestacont .numerocel {
    background: white;
    width: 750px;
    margin: 0 auto;
    border: 1px solid rgb(150, 150, 150);
    padding: 25px 45px;
    position: relative;
}

.respcontent .respuestacont .numerocel .cerrar {
    top: -5px;
    right: -5px;
    color: white;
    position: absolute;
    background: rgb(150, 150, 150);
    border-radius: 50%;
    height: 21px;
    font-family: font8;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    width: 20px;
}

.respcontent .respuestacont .numerocel {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    color: rgb(100, 100, 100);
    font-family: OBold;
    margin-bottom: 50px;
}

.respcontent .respuestacont .numerocel input {
    width: 145px;
    font-size: 14px;
    margin: 0 6px;
    padding: 4px 10px;
    border-radius: 2px;
    border: 1px solid rgb(200, 200, 200);
    font-family: font6;
}

.respcontent .respuestacont .numerocel button {
    border: 2px solid rgb(0, 91, 23);
    padding: 3px 10px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    border-radius: 3px;
    background: rgb(0, 130, 28);
}

.respcontent .respuestacont .numerocel p {
    font-family: font8;
    margin-top: 4px;
    font-size: 15px;
    color: rgb(70, 70, 70);
}

.respcontent .respuestacont .numerocel p, .respcontent .respuestacont .numerocel input, .respcontent .respuestacont .numerocel button {
    display: inline-block;
    vertical-align: top;
}

.respcontent .respuestacont .contgreen {
    background: #008249;
    color: white;
    font-size: 16px;
    width: 670px;
    margin: 0 auto 50px;
    padding: 15px 30px;
    border: 1px solid #006433;
    border-radius: 3px;
    box-shadow: rgba(0, 130, 28, 0.7) 0 0 5px;
}

.respcontent .respuestacont .contgreen p {
    font-family: font2;
    font-size: 15px;
}

.respcontent .respuestacont .contgreen .grboton {
    text-align: center;
    margin-top: 25px;
}

.respcontent .respuestacont .contgreen .grboton button {
    padding: 6px 20px;
    border-radius: 3px;
    font-size: 14px;
    font-family: font2;
    border: 2px solid rgb(0, 90, 23);
    color: white;
    cursor: pointer;
    background: #008249;
}

.respcontent .respuestacont .infoper {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    background: white;
    overflow: hidden;
}

.respcontent .respuestacont .infoper .ip_top_name {
    padding: 25px 40px;
    font-family: font12;
    font-size: 25px;
    color: white;
}

.respcontent .respuestacont .infoper .ip_about {
    background-color: #F47564;
    padding: 30px 40px;
}

.respcontent .respuestacont .infoper .ip_about .foto, .respcontent .respuestacont .infoper .ip_about .aboutcont {
    display: inline-block;
    vertical-align: top;
}

.respcontent .respuestacont .infoper .ip_about .aboutcont {
    width: 584px;
    margin-left: 30px;
}

.respcontent .respuestacont .infoper .ip_about .aboutcont p {
    color: white;
    font-family: font12;
    font-size: 18px;
    font-weight: bold;
}

.respcontent .respuestacont .infoper .ip_about .aboutcont .titulo {
    font-size: 27px;
    color: white;
    font-family: font5;
    margin-bottom: 5px;
}

.respcontent .respuestacont .infoper .abouthim {
    padding: 30px 40px;
    font-family: font2;
    font-size: 14px;
    color: rgb(130, 130, 130);
}

.respcontent .respuestacont .infoper .abouthim .sec_content {
    border-bottom: 1px solid rgb(140, 140, 140);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.respcontent .respuestacont .infoper .abouthim .sec_content .aboutcont {
    display: inline-block;
    vertical-align: top;
    width: 383px;
}

.respcontent .respuestacont .infoper .abouthim .sec_content .blocktwo {
    border-right: 1px solid rgb(140, 140, 140);
}

.respcontent .respuestacont .infoper .abouthim .sec_content .blockfive {
    padding-left: 30px;
}

.respcontent .respuestacont .infoper .abouthim .aboutcont .titulo {
    font-size: 20px;
    font-family: font5;
    color: rgb(60, 60, 60);
}

.respcontent .respuestacont .infoper .abouthim .blockone p {
    margin-bottom: 10px;
    font-size: 13px;
    color: rgb(90, 90, 90);
}

.respcontent .respuestacont .infoper .abouthim .blockone .seemore {
    text-align: right;
}

.respcontent .respuestacont .infoper .abouthim .blocktwo .catcont {
    margin-top: 30px;
}

.respcontent .respuestacont .infoper .abouthim .blockthree .titulo {
    margin-bottom: 40px;
}

.respcontent .respuestacont .infoper .abouthim .blockthree form {
    overflow: hidden;
    margin-top: 20px;
    color: rgb(90, 90, 90);
    font-size: 13px;
}

.respcontent .respuestacont .infoper .abouthim .blockthree form .radius {
    float: left;
    width: 100px;
    margin: 0 5px;
}

.respcontent .respuestacont .infoper .abouthim .blockthree form .radius .circle, .respcontent .respuestacont .infoper .abouthim .blockthree form .radius p {
    display: inline-block;
    vertical-align: top;
}

.respcontent .respuestacont .infoper .abouthim .blockthree form .radius .circle {
    padding: 2px;
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-right: 5px;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 50%;
}

.respcontent .respuestacont .infoper .abouthim .blockthree form .radius .circle .c_green {
    height: 8px;
    width: 8px;
    background: rgb(0, 130, 28);
    border-radius: 50%;
}

.respcontent .respuestacont .infoper .abouthim .blockfour .puntresena {
    margin: 30px 0;
    overflow: hidden;
}

.respcontent .respuestacont .infoper .abouthim .blockfour .puntresena .imgcont {
    text-align: center;
    float: left;
    width: 120px;
}

.respcontent .respuestacont .infoper .abouthim .blockfour .puntresena .imgcont p {
    font-size: 13px;
    color: rgb(90, 90, 90);
}

.respcontent .respuestacont .infoper .abouthim .blockfour .puntresena .barrastar {
    float: right;
    width: 300px;
    font-size: 13px;
    color: rgb(90, 90, 90);
}

.respcontent .respuestacont .infoper .abouthim .blockfour .resecont {
    margin: 45px 0;
}

.respcontent .respuestacont .infoper .abouthim .blockfive {
    position: relative;
}

.respcontent .respuestacont .infoper .abouthim .blockfive .slideright {
    position: absolute;
    top: 100px;
    right: -43px;
    background: rgb(0, 130, 28);
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    padding: 0 11px;
    border: 1px solid rgb(0, 83, 22);
}

.respcontent .respuestacont .infoper .abouthim .blockfive .fotos {
    margin: 20px 0;
}

.respcontent .respuestacont .infoper .abouthim .blockfive .fotos .img {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
}

.respcontent .respuestacont .infoper .abouthim .blockfive .fotos .img img {
    width: 154px;
    height: 114px;
}

.resecont .cabeza {
    margin-bottom: 15px;
}

.resecont .textresen {
    font-size: 13px;
    color: rgb(90, 90, 90);
}

.nextpest .nronext {
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    background: rgb(220, 220, 220);
    padding: 4px 12px;
    text-align: center;
    font-family: OBold;
}

.nextpest .nronext:hover {
    background: rgb(190, 190, 190);
}

.respcontent .respuestacont .infoper .abouthim .aboutcont:last-child {
    border: none;
}

.respcontent .respuestacont .infoper .infopercont {
    float: right;
    width: 480px;
    color: rgb(90, 90, 90);
}

.respcontent .respuestacont .infoper .infopercont .blockuno .fecha {
    font-size: 14px;
    margin-bottom: 10px;
}

.respcontent .respuestacont .infoper .infopercont .blockuno .enunciado {
    color: rgb(100, 100, 100);
    font-size: 18px;
    font-family: font8;
    margin-bottom: 30px;
}

.respcontent .respuestacont .infoper .infopercont .blockuno .ayudar {
    font-family: font9;
    font-size: 14px;
}

.respcontent .respuestacont .infoper .infopercont .blockdos {
    margin: 30px 0 80px;
}

.respcontent .respuestacont .infoper .infopercont .blockdos li {
    border-top: 1px solid rgb(150, 150, 150);
    padding: 10px 0;
    overflow: hidden;
}

.respcontent .respuestacont .infoper .infopercont .blockdos li .imgt {
    float: left;
    text-align: center;
    width: 40px;
}

.respcontent .respuestacont .infoper .infopercont .blockdos li .middle {
    float: left;
    width: 200px;
    font-size: 15px;
    margin-left: 10px;
}

.respcontent .respuestacont .infoper .infopercont .blockdos li .detailb {
    float: right;
    width: 220px;
    font-size: 14px;
}

.respcontent .respuestacont .infoper .infopercont .piecont {
    font-size: 14px;
}

.respcontent .respuestacont .infoper .infopercont .piecont p {
    margin-bottom: 10px;
}

.respcontent .respuestacont .infoper .infopercont .piecont p a {
    color: rgb(0, 130, 28);
}

.respcontent .preguntar {
    margin: 30px auto;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 20px;
    background: #ffffff;
    width: 750px;
}

.preguntar {
    border: 1px solid rgb(140, 140, 140);
    padding: 20px 40px;
    background: #ffffff;
    width: 750px;
    margin: 0 auto;
}

.preguntar p {
    color: rgb(90, 90, 90);
    margin-bottom: 15px;
    font-family: font8;
    font-size: 15px;
}

.preguntar .inputcont .textarea_cont {
    padding: 7px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    margin-right: 20px;
}

.respcontent {
    padding: 40px 0;
}

.preguntar .inputcont .textarea_cont, .preguntar .inputcont button {
    display: inline-block;
    vertical-align: top;
}

.preguntar .inputcont textarea {
    width: 600px;
    font-family: font12;
    font-size: 14px;
    color: #444;
    padding: 8px 10px;
    margin-right: 14px;
    border-radius: 2px;
    border: 1px solid rgb(200, 200, 200);
    line-height: 1.4 !important;
    resize: none !important;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.more_subc {
    border-radius: 2px;
    color: rgb(70, 70, 70);
    font-family: font12;
    font-size: 15px;
    padding: 4px 0;
    margin: 25px auto;
    text-align: center;
}

.more_subc span {
    font-weight: bold;
    cursor: pointer;
    color: #51B1BE;
}

.conectcont .menjcont {
    margin-bottom: 0;
}

.conectcont .stepseguir {
    background: #ffffff;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    padding: 20px 40px 30px;
    color: rgb(90, 90, 90);
}

.conectcont .stepseguir .titulo {
    font-family: font8;
    font-size: 14px;
    margin-bottom: 25px;
}

.conectcont .stepseguir .seguircont {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 232px;
    margin: 0 10px;
}

.conectcont .stepseguir .seguircont .cuadrog {
    border: 2px solid rgb(0, 130, 28);
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.conectcont .stepseguir .seguircont .greenletra {
    float: right;
    width: 150px;
    font-size: 14px;
}

.conectcont .stepseguir .seguircont .greenletra p {
    font-family: font6;
    font-size: 12px;
}

.conectcont .stepseguir .seguircont .greenletra .negrita {
    font-family: font8;
    font-size: 13px;
    margin-bottom: 10px;
}

.menjcont {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    padding: 30px;
    background: #ffffff;
    overflow: hidden;
    width: 750px;
    margin: 0 auto 35px;
}

.menjcont .imagen {
    float: left;
    width: 60px;
}

.menjcont .list_messages {
    margin-bottom: 25px;
    overflow: hidden;
}

.menjcont .list_messages:last-child {
    margin-bottom: 0;
}

.menjcont .imagen img {
    border: 2px solid #51B1BE;
    border-radius: 2px;
    width: 60px;
    height: 60px;
}

.menjcont .menjinfo {
    float: right;
    width: 608px;
    margin-left: 20px;
    color: rgb(90, 90, 90);
}

.menjcont .menjinfo .fecha {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: font11;
}

.menjcont .menjinfo .contms {
    font-family: font12;
    font-size: 16px;
}

.category {
    padding: 80px 0;
}

.category .margencont {
    padding: 0 30px;
}

.choosecat {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
}

.choosecat .texto {
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    padding: 30px 40px 15px;
    color: rgb(60, 60, 60);
}

.choosecat .categorycont {
    padding: 40px 30px 70px;
}

.choosecat .categorycont .titulo {
    text-align: center;
    font-family: font8;
    font-size: 20px;
    color: rgb(70, 70, 70);
    margin-bottom: 30px;
}

.choosecat .categorycont .listcat {
    overflow: hidden;
}

.choosecat .categorycont .blockcat {
    width: 250px;
    margin: 0 56px;
    float: left;
}

.catzonas {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    text-align: center;
}

.catzonas .evento .figura {
    margin-bottom: 30px;
}

.catzonas .evento .figura img {
    height: 150px;
    width: 248px;
    border-radius: 3px 3px 0 0;
}

.catzonas .evento .nombre {
    margin: 20px;
    cursor: pointer;
    border: 2px solid #005018;
    background: rgb(14, 130, 74);
    font-family: font3;
    color: white;
    padding: 8px 0;
    font-size: 15px;
    border-radius: 2px;
}

.catzonas .evento .nombre:hover {
    background: rgb(14, 110, 55);
}

.conectaste {
    margin: 0 auto;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    background: white;
}

.conectaste .encabezado {
    text-align: center;
    padding: 25px 0 10px;
    border-bottom: 1px solid #d8d8d8;
    color: rgb(90, 90, 90);
}

.conectaste .encabezado p {
    font-family: font2;
    font-size: 13px;
}

.conectaste .encabezado .titulo {
    font-size: 18px;
    font-family: font8;
    margin-bottom: 10px;
}

.conectaste .pasoscont {
    padding: 30px;
    color: rgb(90, 90, 90);
}

.conectaste .pasoscont .bloquestep {
    padding: 10px 0;
    margin-bottom: 30px;
}

.conectaste .pasoscont .bloquestep .stepcont {
    display: inline-block;
    vertical-align: top;
    margin: 0 14px;
    width: 232px;
}

.conectaste .pasoscont .textpasos {
    margin-bottom: 30px;
    font-size: 14px;
}

.conectaste .pasoscont .listo {
    text-align: center;
}

.conectaste .pasoscont .listo button {
    color: white;
    border: 2px solid rgb(0, 109, 28);
    padding: 4px 25px;
    background: rgb(30, 130, 76);
    font-size: 13px;
    font-family: font8;
    border-radius: 3px;
}

.conectaste .pasoscont .listo button:hover {
    background: rgb(31, 117, 62);
}

.stepnro {
    overflow: hidden;
}

.stepnro .figura {
    margin-right: 10px;
    float: left;
}

.stepnro .figura img {
    border: 2px solid rgb(0, 130, 28);
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.stepnro .contendio {
    float: left;
    width: 150px;
    font-size: 12px;
}

.stepnro .contendio p {
    font-family: font6;
    font-size: 12px;
}

.stepnro .contendio .text {
    font-family: font8;
    font-size: 13px;
    margin-bottom: 10px;
}

.informacion {
    width: 750px;
    margin: 50px auto;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
    background: white;
    padding: 20px 35px;
    color: rgb(90, 90, 90);
}

.informacion .titulo {
    margin-bottom: 10px;
}

.informacion .benviar {
    overflow: hidden;
}

.informacion .benviar input {
    margin-right: 25px;
    font-family: font6;
    font-size: 13px;
    width: 553px;
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
    border-radius: 3px;
}

.informacion .benviar button {
    padding: 5px 25px;
    color: white;
    font-size: 14px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 3px;
    background: rgb(170, 170, 170);
}

.informacion .benviar button:hover {
    background: rgb(150, 150, 150);
}

.informacion .benviar input, .informacion .benviar button {
    float: left;
}

.bubble {
    position: relative;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: #7F7F7F solid 1px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 35px 24px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -24px;
    left: 66px;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 35px 24px;
    border-color: #C7C7C7 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -25px;
    left: 66px;
}

.bubble2 {
    position: relative;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: #7F7F7F solid 1px;
}

.bubble2:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 35px 24px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -24px;
    left: 373px;
}

.bubble2:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 35px 24px;
    border-color: #C7C7C7 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -25px;
    left: 373px;
}

.block_service .bloque {
    float: none !important;
}

.block_service {
    width: 300px;
    margin: 0 auto 80px;
}

.block_service .li_data {
    width: 100% !important;
}

.block_service .li_unit .li_descript .li_data .li_category {
    font-size: 17px !important;
}

.block_service .li_unit .li_descript .li_data .lid_cont .c_text {
    font-size: 13px !important;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

#ab_propuesta {
    width: 100%;
}

#footer {
    background: rgb(43, 43, 43);
    padding: 40px 0;
}

#footer .sr_margen {
    overflow: hidden;
}

#footer .social-icons {
    text-align: center;
}

#footer .links {
    text-align: center;
    margin-top: 20px;
}

#footer .links li {
    display: inline-block;
    margin: 20px;
    font-family: OLight;
}

#footer .links li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

#footer .links li {
    display: inline-block;
    margin: 20px;
    font-family: font2;
    font-size: 13px;
}

#footer .social-icons li {
    background: #bcbcbc;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    color: #125122;
    margin: 0 30px;
    cursor: pointer;
}

#footer .social-icons li:hover {
    background: whitesmoke;
    color: #1c8136;
}

#footer .text {
    color: #adadad;
    text-align: center;
    margin-top: 10px;
    font-family: font2;
    font-size: 13px;
}